@import "mixins/media.scss";
@import "fonts/fonts.scss";
@import "func/px-to-rem.scss";
@import "settings/setttings.scss";

.main-logo {
	display: flex;
	align-items: center;

	img {
		display: block;
		max-width: 200px;
		margin-right: 32px;
	}

	p {
		max-width: 181px;
		margin: 0;
		color: $color-white;
		font-weight: 400;
		font-size: rem(14px);
		line-height: 1.4;
	}
}

.btn-group {
	display: flex;
	flex-direction: column;
	align-items: flex-end;

	&__button {
		cursor: pointer;

		span {
			position: relative;
			display: inline-block;
			color: $color-white;
			font-size: rem(14px);
			line-height: 1.4;

			&::before {
				position: absolute;
				bottom: -2px;
				left: 0;
				width: 100%;
				height: 2px;
				border-bottom: 1px dashed $color-white;
				content: "";
			}
		}

		&:hover {
			span {
				&::before {
					content: none;
				}
			}
		}
	}

	.phone-content {
		display: inline-block;
		margin-bottom: 7px;
		color: $color-white !important;
		font-weight: 700 !important;
		font-size: rem(18px);
		line-height: 1.4;
	}
}

.button-primary {
	display: flex;
	align-items: center;
	// max-width: 290px;
	background: linear-gradient(#1f8ee9, #0e60e7);
	border-radius: 5px;
	box-shadow: 0 2px 2px #292929;
	cursor: pointer;

	&__text {
		padding: 30px 48px 30px 52px;
		color: $color-white;
		font-size: rem(16px);
		line-height: 24px;
		text-transform: uppercase;
	}

	&__icon {
		position: relative;
		padding: 30px 35px;
		border-left: 1px solid #1f8ee9;

		.icon-arrow {
			position: relative;
			display: block;
			width: 10px;
			height: 18px;
			fill: #48a8f8;
		}

		&::before {
			position: absolute;
			top: 50%;
			left: 50%;
			width: 46px;
			height: 46px;
			background-color: #0f67cb;
			border-radius: 50%;
			box-shadow: inset 0 3px 3px rgba($color: #000, $alpha: 0.2);
			box-shadow: 0 2px 2px #1e8ce8;
			transform: translate(-50%, -50%);
			content: "";
		}

		&::after {
			position: absolute;
			top: 50%;
			left: 50%;
			width: 46px;
			height: 46px;
			background-color: transparent;
			border-radius: 50%;
			box-shadow: inset 0 3px 3px rgba($color: #000, $alpha: 0.2);
			transform: translate(-50%, -50%);
			content: "";
		}
	}

	&:hover {
		background: linear-gradient(#0e60e7, #1f8ee9);

		.button-primary__icon {
			.icon-arrow {
				fill: #0f67c8;
			}

			&::before {
				background-color: #48a8f8;
			}
		}
	}

	&:focus {
		background: linear-gradient(#0e60e7, #1f8ee9);

		.button-primary__icon {
			.icon-arrow {
				fill: #0f67c8;
			}

			&::before {
				background-color: #48a8f8;
			}
		}
	}

	&:active {
		transform: scale(0.98);
	}
}

.slider-buttons {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 146px;

	.icon {
		width: 13px;
		height: 23px;
		fill: $color-white;
	}

	@include _500 {
		width: 136px;
	}
}

.slider-button-left {
	position: relative;
	z-index: 20;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 65px;
	height: 65px;
	background-color: $color-green-light;
	border-radius: 50%;
	cursor: pointer;

	&.swiper-button-disabled {
		cursor: default;
		opacity: 0.7;
		pointer-events: none;
	}

	@include desktop {
		&:hover {
			background-color: $color-green;
		}
	}

	@include _500 {
		width: 60px;
		height: 60px;
	}
}

.slider-button-right {
	position: relative;
	z-index: 20;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 65px;
	height: 65px;
	background-color: $color-orange-light;
	border-radius: 50%;
	cursor: pointer;

	&.swiper-button-disabled {
		cursor: default;
		opacity: 0.7;
		pointer-events: none;
	}

	@include desktop {
		&:hover {
			background-color: $color-orange;
		}
	}

	@include _500 {
		width: 60px;
		height: 60px;
	}
}
