.our-class {
	&__gallery {
		margin-bottom: 30px;

		&:nth-of-type(2) {
			margin-bottom: 0;
		}

		._wrapper {
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}

	&__slide {
		flex-shrink: 0;
		width: 371px;
		height: 200px;
		margin-right: 40px;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
		border-radius: 3px;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			border-radius: 3px;
		}

		&:last-child {
			margin-right: 0;
		}
	}

	@include _1680 {
		&__slide {
			width: 341px;
			height: 180px;
		}
	}

	@include _1440 {
		&__slide {
			width: 301px;
			height: 170px;
		}
	}

	@include _1280 {
		&__slide {
			width: 261px;
			height: 140px;
		}
	}

	@include _1200 {
		&__slide {
			width: 231px;
			height: 120px;
		}
	}

	@include _740 {
		&__slide {
			width: 171px;
			height: 100px;
			margin-right: 20px;
		}

		&__gallery {
			margin-bottom: 20px;
		}
	}

	@include _320 {
		&__slide {
			width: 131px;
			height: 70px;
		}
	}
}
