.exams {
	position: relative;
	margin-top: -89px;
	margin-bottom: 100px;
	padding-bottom: 162px;
	background-image: url(../img/bg.webp);
	background-repeat: no-repeat;
	background-position: 50% 99%;
	background-size: 92%;

	&__image {
		position: absolute;
		bottom: -140px;
		left: -350px;
	}

	&__feautures {
		position: relative;
		max-width: 1193px;
		margin-bottom: 174px;
		margin-left: 137px;
		padding: 48px 40px;
		background-color: $color-orange-light;
		background-repeat: no-repeat;
		background-position: bottom left;
		background-size: contain;
		border-radius: 3px;
	}

	&__feautures-img {
		position: absolute;
		right: 0;
		bottom: 0;
		overflow: hidden;

		img {
			transform-origin: bottom;
		}
	}

	&__text {
		display: block;
		max-width: 518px;
		margin-bottom: 40px;
		color: $color-white;
		font-weight: 400;
		font-size: rem(24px);
		line-height: 1.4;
	}

	&__button {
		&-text {
			padding: 17px 55px;
		}
	}

	&__title {
		position: relative;
		display: flex;
		align-items: flex-end;
		justify-content: space-between;
		margin-bottom: 64px;
		overflow: hidden;

		h2 {
			max-width: 782px;
			margin: 0;
			color: $color-green-light;
			font-weight: 800;
			font-size: rem(56px);
			line-height: 1.3;

			span {
				color: $color-orange-light;
			}
		}
	}

	&__title-block {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: $color-grey;
		transform-origin: bottom;
	}

	&__nav-buttons {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 146px;
	}

	&__nav-btn {
		position: relative;
		z-index: 20;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 65px;
		height: 65px;
		border-radius: 50%;
		cursor: pointer;

		&._left {
			background-color: $color-green-light;
		}

		&._right {
			background-color: $color-orange-light;
		}

		.icon {
			width: 13px;
			height: 23px;
			fill: $color-white;
		}
	}

	&__container {
		width: 100%;
		height: 100%;
		margin: -5rem 0;
		padding: 5rem 0;
	}

	&__slide-legend {
		display: block;
		margin: 0;
		margin-bottom: 48px;
		font-weight: 700;
		font-size: rem(24px);
		font-family: $main-font-family;
		line-height: 1.3;

		&._front {
			color: $color-text;
		}

		&._back {
			color: $color-white;
		}
	}

	&__slide_front {
		position: absolute;
		top: 0;
		left: 0;
		padding: 56px 35px;
		background-color: $color-white;
		backface-visibility: hidden;
		transition: transform 1s;
	}

	&__slide_back {
		position: absolute;
		top: 0;
		left: 0;
		padding: 56px 35px;
		background-color: $color-green-light;
		box-shadow: 40px 30px 50px rgba($color: #4aa652, $alpha: 0.7);
		transform: rotateY(180deg);
		backface-visibility: hidden;
		transition: transform 1s;
	}

	&__slide {
		position: relative;
		width: 371px;
		height: 479px;
		perspective: 1000px;

		@include desktop {
			&:hover {
				.exams__slide_front {
					transform: rotateY(180deg);
				}

				.exams__slide_back {
					transform: rotateY(0);
				}
			}
		}

		&._fucused {
			.exams__slide_front {
				transform: rotateY(180deg);
			}

			.exams__slide_back {
				transform: rotateY(0);
			}
		}
	}

	&__slide-text {
		margin: 0;
		margin-bottom: 48px;
		font-size: rem(16px);
		line-height: 1.4;

		&._front {
			color: $color-dark-blue;
		}

		&._back {
			color: $color-white;
		}
	}

	&__slide-button {
		width: 100%;
	}

	&__slide-button-text {
		padding: 15px 38px;
	}

	&__slide-img {
		display: block;
		max-width: 240px;
		margin: 0 auto;
	}

	&__slider-pagination {
		display: none;
	}

	@include _1680 {
		padding-bottom: 82px;

		&__title {
			h2 {
				max-width: 522px;
				font-size: rem(45px);
			}
		}

		&__feautures {
			max-width: 1123px;
			margin-bottom: 114px;
			padding: 40px 36px;

			&-img {
				width: 49%;
			}
		}

		&__text {
			margin-bottom: 30px;
			font-size: 1.3rem;
		}
	}

	@include _1536 {
		padding-bottom: 82px;

		&__title {
			h2 {
				font-size: rem(40px);
			}
		}

		&__image {
			bottom: -100px;
		}

		&__slide {
			&_front,
			&_back {
				padding: 40px 35px;
			}
		}

		&__slide-button {
			&-text {
				padding: 15px 11px;
				font-size: 0.9rem;
				line-height: 1.4;
			}

			.button-primary__icon {
				padding: 26px 30px;

				&::before,
				&::after {
					width: 36px;
					height: 36px;
				}
			}
		}
	}

	@include _1440 {
		padding-bottom: 10px;

		&__image {
			bottom: -80px;
			left: -200px;
			width: 30%;
		}

		&__feautures {
			margin-left: 70px;
		}

		&__slide {
			&_front,
			&_back {
				padding: 36px 28px;
			}
		}

		&__slide-legend {
			margin-bottom: 38px;
			font-size: 1.2rem;
		}

		&__slide-text {
			font-size: 0.9rem;
		}

		&__slide-img {
			max-width: 200px;
		}
	}

	@include _1366 {
		&__feautures {
			margin-bottom: 90px;
		}

		&__button {
			width: 290px;

			&-text {
				width: calc(100% - 81px);
				padding: 15px;
			}

			.button-primary__icon {
				width: 81px;
			}
		}
	}

	@include _1280 {
		margin-bottom: 80px;

		&__slide {
			&-legend {
				margin-bottom: 24px;
			}
		}

		&__feautures {
			max-width: 1043px;
			margin-bottom: 94px;
			margin-left: 0;
		}
	}

	@include _1200 {
		padding-bottom: 30px;

		&__image {
			left: -150px;
		}

		&__container {
			margin: 0;
			padding: 0;
		}

		&__slide {
			height: auto;

			&_front {
				display: none;
			}

			&_back {
				position: static;
				top: auto;
				left: auto;
				background-color: $color-white;
				box-shadow: none;
				transform: none;
			}
		}

		&__slide-legend {
			&._back {
				color: $color-text;
			}
		}

		&__slide-text {
			&._back {
				color: $color-dark-blue;
			}
		}

		&__button {
			&-text {
				padding: 10px 15px;
				font-size: 0.9rem;
				line-height: 1.4;
			}

			.button-primary__icon {
				padding: 25px 35px;

				&::before,
				&::after {
					width: 36px;
					height: 36px;
				}
			}
		}

		&__feautures {
			width: auto;
			max-width: none;
			margin: 0 -24px;
			margin-bottom: 94px;
			padding: 40px 24px;
		}
	}

	@include _992 {
		&__feautures {
			margin-bottom: 84px;
			background-image: none !important;
			background-size: cover;

			&-img {
				width: 60%;
			}
		}

		&__title {
			h2 {
				font-size: 2.1875rem;
			}
		}

		&__slide-button {
			justify-content: space-between;

			&-text {
				width: calc(100% - 71px);
			}
		}

		&__image {
			bottom: -100px;
			left: -90px;
		}
	}

	@include _900 {
		&__feautures {
			margin-bottom: 74px;
		}
	}

	@include _740 {
		&__slide-button {
			&-text {
				font-size: 0.7rem;
			}

			.button-primary__icon {
				padding: 21px 27px;
			}
		}

		&__title {
			flex-direction: column;
			align-items: stretch;
			justify-content: stretch;
			margin-bottom: 44px;

			h2 {
				margin-bottom: 24px;
			}
		}

		&__nav-buttons {
			align-self: flex-end;
		}

		&__slide {
			&_back {
				padding: 30px 25px;
			}
		}

		&__text {
			max-width: 70%;
			font-size: 1.2rem;
		}
	}

	@include _540 {
		margin-bottom: 70px;

		&__image {
			bottom: -50px;
			left: -50px;
		}
	}

	@include _500 {
		&__button {
			width: 240px;

			.button-primary__icon {
				padding: 19px 35px;
			}
		}

		&__slide-legend {
			max-width: 70%;
		}

		&__slide-text {
			max-width: 80%;
		}

		&__slide-button {
			width: 100%;
			max-width: 270px;
			margin: 0 auto;
		}

		&__title {
			margin-bottom: 34px;

			h2 {
				margin-bottom: 0;
			}
		}

		&__nav-buttons {
			display: none;
		}

		&__slider-pagination {
			display: flex;
			align-items: center;
			justify-content: center;
			margin-top: 30px;

			.swiper-pagination-bullet-active {
				background-color: $color-orange-light;
			}
		}

		&__image {
			bottom: -70px;
			left: -80px;
			width: 40%;
		}
	}

	@include _480 {
		margin-bottom: 40px;

		&__button {
			width: 210px;
		}

		&__text {
			font-size: 1rem;
		}

		&__slide {
			&-legend {
				max-width: 100%;
			}

			&-text {
				max-width: 100%;
			}
		}

		&__title {
			h2 {
				font-size: 1.9875rem;
			}
		}

		&__image {
			bottom: -20px;
		}

		&__feautures {
			margin-bottom: 44px;
			padding: 25px 24px;
		}
	}

	@include _375 {
		&__title {
			h2 {
				font-size: 1.7875rem;
			}
		}

		&__button {
			&-text {
				font-size: 0.8rem;
			}
		}

		&__image {
			left: -50px;
		}
	}

	@include _320 {
		margin-bottom: 40px;

		&__title {
			h2 {
				font-size: 1.5875rem;
			}
		}

		&__button {
			justify-content: space-between;
			width: 180px;

			&-text {
				width: calc(100% - 61px);
			}

			.button-primary__icon {
				display: flex;
				align-items: center;
				justify-content: center;
				width: 61px;
				padding: 19px 15px;
			}
		}
	}
}
