.free {
	position: relative;
	padding-bottom: 72px;

	&__img {
		position: absolute;
		bottom: 0;
		left: 53%;
		transform: translateX(-50%);

		&._lines {
			top: 0;
			left: 0;
		}

		&._mobile {
			display: none;
		}
	}

	&__row {
		display: flex;
		justify-content: space-between;
		max-width: 1330px;
		margin: 0 auto;
	}

	&__col {
		&:nth-child(1) {
			width: 436px;
		}

		&:nth-child(2) {
			position: relative;
			z-index: 15;
			width: 348px;

			&::before {
				position: absolute;
				bottom: -20px;
				left: 50%;
				z-index: -1;
				width: 110%;
				height: 395px;
				background-color: $color-green-light;
				border-radius: 182px 182px 5px 5px;
				transform: translateX(-50%);
				content: "";
			}
		}
	}

	&__title {
		margin-bottom: 64px;

		h2 {
			margin: 0;
			font-weight: 200;
			font-size: rem(40px);

			span {
				color: $color-orange-light;
				font-weight: 800;
				font-size: rem(56px);
				line-height: 1.3;
			}
		}
	}

	&__list {
		max-width: 90%;

		ul {
			li {
				position: relative;
				margin-bottom: 16px;
				padding-left: 24px;
				font-weight: 400;
				font-size: rem(16px);
				line-height: 1.5;

				&:last-child {
					margin-bottom: 0;
				}

				&::before {
					position: absolute;
					top: 6px;
					left: 0;
					width: 8px;
					height: 8px;
					background-color: $color-green-light;
					border-radius: 3px;
					content: "";
				}
			}
		}
	}

	&__form {
		position: relative;
		z-index: 10;
		padding: 36px 38px;
		background-color: $color-white;
	}

	&__form-title {
		display: block;
		margin-bottom: 13px;
		color: $color-green-light;
		font-weight: 700;
		font-size: rem(24px);
		line-height: 1.4;
		text-align: center;
	}

	&__form-text {
		display: block;
		margin-bottom: 32px;
		font-size: rem(16px);
		line-height: 1.5;
		text-align: center;
	}

	&__form-label {
		position: relative;
		display: block;
		width: 100%;
		margin-bottom: 16px;

		&:nth-of-type(2) {
			margin-bottom: 24px;
		}
	}

	&__form-input {
		width: 100%;
		padding: 20px;
		background-color: #f2f2f2;
		border: none;
		border-radius: 5px;
	}

	&__button {
		width: 100%;
		margin-bottom: 41px;
		border-radius: 5px;
	}

	&__button-text {
		padding: 27px 21px;
		font-size: rem(16px);
		white-space: nowrap;
	}

	&__agreement {
		position: relative;
		display: block;
		cursor: pointer;
	}

	&__agreement-text {
		position: relative;
		display: block;
		padding-left: 30px;
		font-size: 12px;
		line-height: 1.5;
		text-align: left;

		&::before {
			position: absolute;
			top: 4px;
			left: 0;
			width: 16px;
			height: 16px;
			border: 2px solid $color-orange-light;
			content: "";
		}

		&::after {
			position: absolute;
			top: 8px;
			left: 4px;
			width: 8px;
			height: 8px;
			background-color: $color-orange-light;
			opacity: 0;
			content: "";
		}
	}

	&__agreement-checkbox {
		&:checked {
			& ~ .free__agreement-text {
				&::after {
					opacity: 1;
				}
			}
		}

		&:focus {
			& ~ .free__agreement-text {
				color: $color-orange-light;
			}
		}
	}

	&__agreement-link {
		position: relative;
		display: inline-block;
		color: $color-orange-light;
		outline: none;

		&::before {
			position: absolute;
			bottom: -2px;
			left: 0;
			width: 100%;
			height: 2px;
			border-bottom: 1px dashed $color-orange-light;
			content: "";
		}

		&:hover {
			&::before {
				content: none;
			}
		}

		&:focus {
			&::before {
				content: none;
			}
		}
	}

	@include _1680 {
		&__title {
			h2 {
				font-size: rem(45px);

				span {
					font-size: 2.7rem;
				}
			}
		}
	}

	@include _1536 {
		&__title {
			margin-bottom: 34px;

			h2 {
				font-size: 2.2rem;

				span {
					font-size: 2.4rem;
				}
			}
		}

		&__img {
			width: 38%;
		}
	}

	@include _1200 {
		&__list {
			max-width: 69%;
		}

		&__img {
			left: 49%;
		}
	}

	@include _992 {
		&__title {
			h2 {
				max-width: 80%;
				font-size: 1.9rem;

				span {
					font-size: 2.1rem;
				}
			}
		}
	}

	@include _900 {
		&__row {
			flex-direction: column;
		}

		&__col {
			&:nth-of-type(1) {
				width: 100%;
				margin-bottom: 32px;
			}

			&:nth-of-type(2) {
				align-self: flex-end;
			}
		}

		&__list {
			max-width: 73%;
		}

		&__img {
			left: 0;
			width: 58%;
			transform: none;

			&._lines {
				display: none;
			}
		}
	}

	@include _740 {
		&__col {
			&:nth-of-type(1) {
				position: relative;
				margin-bottom: 0;
				padding-bottom: 100px;
			}

			&:nth-of-type(2) {
				align-self: center;
				width: 100%;
			}
		}

		&__img {
			display: none;

			&._mobile {
				right: -13px;
				bottom: 0;
				left: auto;
				display: block;
				width: 38%;
			}
		}

		&__list {
			max-width: 65%;
		}

		&__button {
			justify-content: space-between;

			&-text {
				width: calc(100% - 81px);
			}
		}

		&__agreement {
			max-width: 60%;
			margin: 0 auto;
		}
	}

	@include _480 {
		&__title {
			h2 {
				max-width: 90%;
				font-size: 1.8rem;

				span {
					font-size: 2rem;
				}
			}
		}

		&__col {
			&:nth-of-type(1) {
				padding-bottom: 70px;
			}
		}

		&__list {
			max-width: 100%;

			ul {
				li {
					&:not(:first-child) {
						max-width: 95%;
					}

					&:last-child {
						max-width: 73%;
					}
				}
			}
		}

		&__agreement {
			max-width: 100%;
		}
	}

	@include _375 {
		h2 {
			font-size: 1.7rem;

			span {
				font-size: 1.9rem;
			}
		}

		&__form {
			padding: 26px 28px;
		}

		&__button {
			&-text {
				width: calc(100% - 75px);
				padding: 22px 10px;
				font-size: 0.9rem;
			}

			.button-primary__icon {
				padding: 24px 32px;

				&::before,
				&::after {
					width: 36px;
					height: 36px;
				}
			}
		}
	}

	@include _320 {
		&__img {
			&._mobile {
				display: none;
			}
		}

		&__col {
			&:nth-of-type(1) {
				padding-bottom: 32px;
			}
		}

		&__list {
			ul {
				li {
					max-width: 100% !important;
				}
			}
		}

		&__button {
			margin-bottom: 23px;
		}

		&__form {
			padding: 26px 20px;
		}

		&__title {
			margin-bottom: 26px;

			h2 {
				max-width: 100%;
				font-size: 1.6rem;

				span {
					font-size: 1.8rem;
				}
			}
		}
	}
}
