.happy {
	margin-bottom: 200px;

	&__title {
		position: relative;
		z-index: 10;
		display: flex;
		align-items: flex-end;
		justify-content: space-between;
		margin-bottom: 80px;

		h2 {
			position: relative;
			max-width: 70%;
			margin: 0;
			padding-left: 325px;
			color: $color-green-light;
			font-weight: 800;
			font-size: 56px;
			line-height: 1.3;

			span {
				color: $color-orange-light;
			}

			&::before {
				position: absolute;
				top: 10px;
				left: 0;
				color: $color-orange-light;
				font-size: rem(130px);
				line-height: 1;
				content: "97%";
			}
		}
	}

	&__circle {
		position: absolute;
		top: -110px;
		left: -110px;
		z-index: -1;
	}

	&__slide {
		display: block;
		box-sizing: border-box;
		width: 508px;
		padding: 40px 30px;
		background-color: $color-white;

		._wrap {
			margin-bottom: 16px;

			@include _480 {
				position: relative;

				&::before {
					position: absolute;
					bottom: 0;
					left: 0;
					z-index: 15;
					width: 100%;
					height: 15px;
					background-color: $color-white;
					content: "";
				}
			}

			@include _375 {
				&::before {
					height: 10px;
				}
			}
		}

		p {
			margin: 0;
			font-size: rem(16px);
			line-height: 1.5;
		}
	}

	&__legend {
		display: block;
		margin: 0;
		margin-bottom: 24px;
		font-weight: 400;
		font-size: rem(18px);
	}

	&__read-more {
		cursor: pointer;

		.span {
			position: relative;
			display: inline-block;
			color: $color-orange;
			pointer-events: none;

			&::before {
				position: absolute;
				bottom: -3px;
				left: 0;
				width: 100%;
				height: 2px;
				border-bottom: 1px dashed $color-orange-light;
				content: "";
			}
		}

		&:hover {
			span {
				&::before {
					content: none;
				}
			}
		}
	}

	&__slider-pagination {
		display: none;
	}

	@include _1680 {
		&__title {
			h2 {
				max-width: 50%;
				padding-left: 215px;
				font-size: rem(45px);

				&::before {
					font-size: 5rem;
				}
			}
		}

		&__circle {
			top: -120px;
			left: -52px;

			svg {
				width: 320px;
				height: 320px;
			}
		}
	}

	@include _1536 {
		&__title {
			h2 {
				padding-left: 195px;
				font-size: rem(40px);

				&::before {
					font-size: 4.5rem;
				}
			}
		}
	}

	@include _1440 {
		&__title {
			margin-bottom: 60px;
		}
	}

	@include _1366 {
		margin-bottom: 140px;
	}

	@include _1280 {
		&__title {
			h2 {
				max-width: 60%;
			}
		}

		&__slide {
			padding: 30px 25px;
		}
	}

	@include _1200 {
		&__title {
			h2 {
				max-width: 80%;
			}
		}

		&__cirle {
			top: -130px;
			left: -42px;
		}
	}

	@include _992 {
		&__title {
			h2 {
				max-width: 70%;
				padding-left: 167px;
				font-size: 2.1875rem;

				&::before {
					font-size: 4rem;
				}
			}
		}

		&__cirlce {
			top: -105px;
			left: -39px;

			svg {
				width: 270px;
				height: 270px;
			}
		}
	}

	@include _900 {
		&__title {
			flex-direction: column;
			align-items: stretch;
			justify-content: stretch;

			h2 {
				max-width: none;
				margin-bottom: 32px;
			}
		}

		&__nav-buttons {
			align-self: flex-end;
		}
	}

	@include _769 {
		margin-bottom: 90px;

		&__title {
			h2 {
				margin-bottom: 20px;
			}
		}
	}

	@include _740 {
		&__title {
			margin-bottom: 40px;

			h2 {
				padding-left: 120px;

				&::before {
					font-size: 3rem;
				}
			}
		}

		&__circle {
			top: -80px;
			left: -32px;

			svg {
				width: 200px;
				height: 200px;
			}
		}
	}

	@include _500 {
		&__nav-buttons {
			display: none;
		}

		&__slider-pagination {
			display: flex;
			align-items: center;
			justify-content: center;
			margin-top: 30px;

			.swiper-pagination-bullet {
				margin: 0 4px;
			}

			.swiper-pagination-bullet-active {
				background-color: #e0612e;
			}
		}

		&__title {
			h2 {
				margin: 0;
				padding: 0;
				padding-top: 60px;
			}
		}
	}

	@include _480 {
		margin-bottom: 60px;

		&__title {
			margin-bottom: 30px;

			h2 {
				padding: 54px 0 0;
				font-size: 1.9875rem;

				&::before {
					font-size: 2.5rem;
				}
			}
		}

		&__circle {
			top: -56px;

			svg {
				width: 160px;
				height: 160px;
			}
		}
	}

	@include _375 {
		&__title {
			h2 {
				padding-top: 42px;
				font-size: 1.7875rem;

				&::before {
					font-size: 2.2rem;
				}
			}
		}

		&__slide {
			p {
				font-size: 0.9rem;
			}
		}
	}

	@include _320 {
		&__title {
			h2 {
				font-size: 1.5875rem;

				&::before {
					font-size: 1.9rem;
				}
			}
		}

		&__slide {
			padding: 25px 20px;
		}
	}
}
