.free-speak {
	position: relative;
	margin-bottom: 156px;
	padding-top: 449px;
	background-repeat: no-repeat;
	background-position: left top;
	background-size: contain;

	&__texts {
		position: absolute;
		top: 150px;
		right: 190px;
		z-index: 150;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 385px;
		height: 200px;
		pointer-events: none;

		img {
			position: absolute;
			top: 30px;
			left: -100px;
			flex-shrink: 0;
			width: 281px;
			height: 112px;
			object-fit: contain;
			transform: scale(0.9);
			opacity: 0;
			pointer-events: none;
		}
	}

	&__img {
		position: absolute;
		top: 153px;
		left: 54%;
		overflow: hidden;
		transform: translateX(-50%);
		transform-origin: bottom;

		&._lines {
			top: auto;
			bottom: 30px;
			left: 0;
		}
	}

	&__container {
		display: flex;
		align-items: flex-end;
		justify-content: space-between;
	}

	&__woman {
		position: absolute;
		top: -190px;
		left: 40px;
	}

	&__subtitle {
		position: relative;
		z-index: 10;
		margin-bottom: 26px;
		padding-left: 15px;
		font-weight: 200;
		font-size: rem(26px);
		line-height: 1.2;

		span {
			position: relative;
			padding-right: 15px;
			color: $color-white;

			&::before {
				position: absolute;
				bottom: -10px;
				left: -15px;
				z-index: -1;
				width: 126px;
				height: 144px;
				background-color: $color-orange-light;
				border-radius: 3px;
				content: "";
			}

			&::after {
				position: absolute;
				top: -94px;
				left: -5px;
				width: 17px;
				height: 17px;
				background-color: $color-orange;
				border-radius: 100%;
				content: "";
			}
		}
	}

	&__title {
		max-width: 603px;

		h1 {
			margin: 0;
			margin-bottom: 15px;
			font-weight: 800;
			font-size: rem(64px);
			line-height: 1.1;
		}
	}

	&__text {
		display: inline-block;
		max-width: 411px;
		margin-bottom: 27px;
		margin-left: 110px;
		font-weight: 200;
		font-size: rem(26px);
	}

	&__button {
		margin-bottom: 47px;
		margin-left: 110px;
	}

	&__info {
		position: relative;
		z-index: 15;
		max-width: 411px;
		padding: 20px 17px 48px 40px;
		background-color: $color-orange-light;

		&::before {
			position: absolute;
			top: 0;
			left: 0;
			z-index: -1;
			width: 137%;
			height: 100%;
			background-color: $color-orange-light;
			border-radius: 0 80px 3px 3px;
			content: "";
		}

		._london {
			position: absolute;
			top: -197%;
			right: -80px;
			z-index: 15;
		}

		._bus {
			position: absolute;
			top: -106px;
			left: 90px;
			z-index: 10;
		}
	}

	&__info-text {
		margin: 0;
		color: $color-white;
		font-size: rem(18px);
		line-height: 1.3;
	}

	@include _1680 {
		margin-bottom: 106px;
		padding-top: 469px;

		&__title {
			h1 {
				font-size: rem(45px);
			}
		}

		&__img {
			left: 50%;
			width: 34%;

			&._lines {
				display: none;
			}
		}

		&__right {
			transform: translateY(-36px);
		}

		&__info {
			padding: 13px 17px 28px 30px;

			._money {
				width: 48%;
			}

			._bus {
				top: -82px;
				width: 50%;
			}

			._london {
				top: -188%;
				right: 10px;
				width: 40%;
			}

			&-text {
				font-size: 1.025rem;
			}
		}

		&__subtitle {
			margin-bottom: 19px;
			font-size: 1.325rem;

			span {
				padding-right: 12px;

				&::before {
					width: 106px;
					height: 114px;
				}

				&::after {
					top: -64px;
				}
			}
		}

		&__text {
			max-width: 341px;
			font-size: 1.325rem;
		}

		&__texts {
			top: 120px;
			right: 200px;
			width: 365px;
			height: 190px;
		}

		&__woman {
			top: -168px;
			left: 26px;
		}

		&__button {
			.button-primary__text {
				padding: 25px 48px 25px 52px;
			}

			.button-primary__icon {
				padding: 25px 35px;
			}
		}
	}

	@include _1536 {
		padding-top: 369px;

		&__title {
			h1 {
				font-size: rem(40px);
			}
		}

		&__texts {
			top: 130px;
			right: 240px;
			width: 275px;
			height: 170px;
		}

		&__info {
			&::before {
				width: 118%;
				border-radius: 0 80px 3px 3px;
			}
		}
	}

	@include _1440 {
		padding-top: 358px;
		background-size: 103%;

		&__button {
			margin-bottom: 0;
			margin-left: 60px;
		}

		&__right {
			transform: none;
		}

		&__text {
			margin-left: 60px;
		}

		&__img {
			left: 53%;
		}

		&__texts {
			right: 180px;

			img {
				top: 34px;
				left: -110px;
				width: 261px;
				height: 102px;
			}
		}
	}

	@include _1366 {
		padding-top: 318px;

		&__info {
			padding-top: 40px;

			._money {
				display: none;
			}

			._london {
				top: -265%;
			}
		}
	}

	@include _1280 {
		padding-top: 178px;
		background-size: 108%;

		&__subtitle {
			span {
				&::before {
					height: 74px;
				}

				&::after {
					top: -28px;
				}
			}
		}

		&__woman {
			display: none;
		}

		&__button {
			margin-bottom: 100px;
		}

		&__texts {
			right: 130px;
		}
	}

	@include _1200 {
		margin-bottom: 80px;
		padding-top: 218px;
		padding-bottom: 40px;
		background-color: #f5f5f5;
		background-image: url(../img/bg.png) !important;
		background-position: center center;

		&__info {
			._bus {
				display: none;
			}
		}

		&__img {
			top: auto;
			right: 110px;
			bottom: 90px;
			left: auto;
			width: 23%;
			transform: none;

			&._lines {
				bottom: -130px;
				left: 0;
				display: block;
				width: 9%;
			}
		}

		&__texts {
			display: none;
		}
	}

	@include _992 {
		&__title {
			h1 {
				font-size: rem(35px);
			}
		}

		&__subtitle {
			font-size: 1.125rem;

			span {
				&::before {
					width: 94px;
				}
			}
		}

		&__text {
			font-size: 1.125rem;
		}
	}

	@include _900 {
		padding-top: 188px;

		&__button {
			margin-bottom: 0;
			margin-left: 0;
		}

		&__text {
			margin-left: 0;
		}

		&__container {
			flex-direction: column;
			align-items: stretch;
			justify-content: stretch;
		}

		&__left {
			margin-bottom: 100px;
		}

		&__right {
			align-self: flex-end;
		}

		&__img {
			width: 34%;

			&._lines {
				bottom: -20px;
				width: 10%;
			}
		}
	}

	@include _740 {
		margin-bottom: 70px;
		padding-top: 168px;

		&__left {
			margin-bottom: 260px;
		}

		&__img {
			right: 130px;
			width: 30%;

			&._lines {
				bottom: 240px;
			}
		}

		&__info {
			._london {
				top: -225%;
				right: 30px;
				width: 34%;
			}
		}
	}

	@include _500 {
		&__subtitle {
			span {
				&::before {
					width: 87px;
				}
			}
		}

		&__img {
			right: 110px;
			bottom: 130px;

			&._lines {
				bottom: 256px;
				width: 14%;
			}
		}

		&__info {
			._london {
				top: auto;
				right: 0;
				bottom: 124px;
			}
		}
	}

	@include _480 {
		margin-bottom: 50px;
		background-size: 294%;

		&__button {
			.button-primary__text {
				padding: 17px 38px 17px 38px;
			}

			.button-primary__icon {
				padding: 18px 35px;

				&::before,
				&::after {
					width: 36px;
					height: 36px;
				}
			}
		}

		&__info {
			padding: 23px 17px 25px 20px;

			&::before {
				width: 120%;
			}

			._london {
				bottom: 100%;
			}
		}

		&__img {
			right: 100px;

			&._lines {
				bottom: 226px;
			}
		}

		&__left {
			margin-bottom: 230px;
		}
	}

	@include _375 {
		margin-bottom: 60px;
		padding-top: 148px;

		&__title {
			h1 {
				font-size: rem(30px);
			}
		}

		&__left {
			margin-bottom: 301px;
		}

		&__img {
			right: auto;
			bottom: 129px;
			left: 40%;
			width: 42%;
			transform: translateX(-50%);

			&._lines {
				bottom: 316px;
				transform: none;
			}
		}

		&__info {
			padding-left: 0;

			&::before {
				left: -24px;
				border-radius: 0;
			}

			._london {
				// top: -249%;
				right: 38px;
				width: 38%;
			}
		}
	}

	@include _320 {
		margin-bottom: 40px;

		&__title {
			h1 {
				margin-bottom: 12px;
				font-size: rem(28px);
			}
		}

		&__subtitle {
			margin-bottom: 15px;
		}

		&__left {
			margin-bottom: 241px;
		}

		&__img {
			&._lines {
				bottom: 266px;
			}
		}

		&__info-text {
			font-size: 0.925rem;
		}
	}
}
