.location {
	padding-bottom: 160px;
	background-repeat: no-repeat;
	background-position: bottom right;
	background-size: contain;

	&__title {
		position: relative;
		margin-bottom: 96px;
		overflow: hidden;

		h2 {
			max-width: 782px;
			margin: 0;
			font-weight: 200;
			font-size: rem(56px);
			line-height: 1.3;

			span {
				color: $color-orange-light;
				font-weight: 800;
			}
		}
	}

	&__title-block {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: $color-grey;
		transform-origin: bottom;
	}

	&__container {
		display: flex;
		justify-content: space-between;
	}

	&__map {
		width: 919px;
		height: 512px;
		background-color: $color-green-light;
		border-radius: 3px;
	}

	&__adress-list {
		display: flex;
		flex-wrap: wrap;
		width: calc(100% - 1011px);
		margin: -18px -39px;

		._last {
			display: none;
		}
	}

	&__adress-legend {
		display: block;
		margin-bottom: 16px;
		font-weight: 400;
		font-size: rem(24px);
		line-height: 1.3;
		pointer-events: none;
	}

	&__adress-text {
		display: block;
		font-weight: 400;
		font-size: rem(16px);
		line-height: 1.3;
		pointer-events: none;
	}

	&__adress-item {
		position: relative;
		z-index: 10;
		width: calc(50% - 78px);
		max-width: 238px;
		margin: 18px 39px;
		outline: none;
		cursor: pointer;
		transition: color 0.2s ease-in-out;

		.adress {
			pointer-events: none;
		}

		&::before {
			position: absolute;
			top: -17px;
			right: -37px;
			bottom: -17px;
			left: -37px;
			z-index: -1;
			background-color: $color-green-light;
			border-radius: 3px;
			opacity: 0;
			transition: opacity 0.3s ease-in-out;
			content: "";
		}

		&:focus {
			.location__adress-text {
				color: $color-white;
			}

			.location__adress-legend {
				color: $color-white;
			}

			&::before {
				opacity: 1;
			}
		}

		@include desktop {
			&:hover {
				.location__adress-text {
					color: $color-white;
				}

				.location__adress-legend {
					color: $color-white;
				}

				&::before {
					opacity: 1;
				}
			}
		}

		&._active {
			&::before {
				opacity: 1;
			}

			.location__adress-text {
				color: $color-white;
			}

			.location__adress-legend {
				color: $color-white;
			}
		}
	}

	@include _1680 {
		&__title {
			h2 {
				max-width: 582px;
				font-size: rem(45px);
			}
		}

		&__adress-item {
			&::before {
				top: -13px;
				right: -27px;
				bottom: -13px;
				left: -27px;
			}
		}

		&__adress-list {
			width: calc(100% - 961px);
		}
	}

	@include _1536 {
		&__title {
			margin-bottom: 60px;

			h2 {
				font-size: rem(40px);
			}
		}

		&__adress-list {
			width: calc(100% - 821px);
		}

		&__map {
			width: 749px;
		}

		&__adress-legend {
			font-size: 1.3rem;
		}
	}

	@include _1440 {
		&__adress {
			&-item {
				width: calc(50% - 60px);
				margin: 15px 30px;

				&::before {
					top: -10px;
					right: -25px;
					bottom: -10px;
					left: -25px;
				}
			}

			&-list {
				width: calc(100% - 791px);
				margin: -15px -30px;
			}

			&-legend {
				margin-bottom: 10px;
			}

			&-text {
				font-size: 0.9rem;
			}
		}
	}

	@include _1366 {
		padding-bottom: 120px;

		&__adress-item {
			&::before {
				top: -10px;
				right: -20px;
				bottom: 0;
				left: -20px;
			}
		}
	}

	@include _1280 {
		&__adress-item {
			width: calc(50% - 40px);
			margin: 15px 20px;

			&::before {
				top: -10px;
				right: 0;
				bottom: 0;
				left: -15px;
			}
		}

		&__map {
			width: 620px;
		}

		&__adress-list {
			width: calc(100% - 441px);
		}
	}

	@include _1200 {
		&__container {
			flex-direction: column;
		}

		&__adress {
			&-list {
				width: 100%;
				margin: -10px;
				margin-bottom: 32px;
			}

			&-item {
				width: calc(25% - 20px);
				margin: 10px;

				&::before {
					content: none;
				}

				.adress {
					display: block;
					height: 100%;
					padding: 10px;
					border-radius: 3px;
				}

				&._active {
					.adress {
						background-color: $color-green-light;
					}
				}
			}
		}

		&__map {
			width: auto;
			height: 402px;
			margin: 0 -24px;
		}
	}

	@include _992 {
		&__title {
			margin-bottom: 40px;

			h2 {
				max-width: 522px;
				font-size: 2.1875rem;
			}
		}
	}

	@include _900 {
		&__adress {
			&-item {
				width: calc(33.3% - 20px);
			}
		}
	}

	@include _740 {
		padding-bottom: 60px;

		&__title {
			margin-bottom: 30px;
		}

		&__adress {
			&-list {
				margin: -5px;
				margin-bottom: 32px;
			}

			&-item {
				width: calc(50% - 10px);
				margin: 5px;
			}
		}
	}

	@include _480 {
		background-position: center;
		background-size: cover;

		&__title {
			h2 {
				font-size: 1.9875rem;
			}
		}

		&__adress {
			&-text {
				font-size: 0.8rem;
			}

			&-legend {
				font-size: 1rem;
			}
		}

		&__map {
			height: 302px;
		}
	}

	@include _375 {
		&__title {
			h2 {
				font-size: 1.7875rem;
			}
		}

		&__adress {
			&-item {
				width: 100%;
				max-width: 100%;
				margin: 0;

				.adress {
					padding-right: 24px;
					padding-left: 24px;
				}

				&._active {
					.adress {
						border-radius: 0;
					}
				}

				&:last-child {
					margin-bottom: 0;
				}

				&:nth-of-type(n + 5) {
					display: none;
				}
			}

			&-list {
				align-items: stretch;
				justify-content: stretch;
				width: auto;
				margin: 0 -24px;
				margin-bottom: 32px;

				&.show-full {
					.location__adress-item {
						&:nth-of-type(n + 5) {
							display: block;
						}
					}
				}

				._last {
					display: block;
					width: calc(100% - 20px);
					margin-top: 10px;
					padding: 5px;
					text-align: center;

					span {
						position: relative;
						display: inline-block;
						pointer-events: none;

						&::before {
							position: absolute;
							bottom: -2px;
							left: 0;
							width: 100%;
							height: 1px;
							background-color: $color-dark-blue;
							content: "";
						}
					}
				}
			}
		}
	}

	@include _320 {
		&__title {
			h2 {
				font-size: 1.5875rem;
			}
		}

		&__map {
			margin: 0 -16px;
		}
	}
}
