@import "./hero.scss";
@import "./school.scss";
@import "./method.scss";
@import "./programms.scss";
@import "./exams.scss";
@import "./possibilities.scss";
@import "./class-gallery.scss";
@import "./location.scss";
@import "./happy.scss";
@import "./free.scss";

body.loading {
	overflow: hidden;
}

.preloader {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 250;
	width: 100%;
	height: 100%;
	background-color: $color-white;

	.site-container {
		width: 100%;
		height: 100%;
		padding-top: 30px;
	}

	img {
		opacity: 0;
	}

	@include _1366 {
		.site-container {
			padding-top: 20px;
		}
	}

	@include _740 {
		img {
			max-width: 150px;
		}
	}

	@include _320 {
		img {
			max-width: 130px;
		}
	}
}
