.method {
	position: relative;
	padding-bottom: 110px;
	background-image: url(../img/bg.webp);
	background-repeat: no-repeat;
	background-position: 47% 93%;
	background-size: 90%;

	&__image {
		position: absolute;
		top: -290px;
		right: -270px;
		z-index: 10;
	}

	&__img-line {
		position: absolute;
		top: 0;
		right: 0;
	}

	&__container {
		display: grid;
		grid-column-gap: 20px;
		grid-template-rows: repeat(2, auto);
		grid-template-columns: repeat(3, 1fr);
	}

	&__img {
		position: absolute;
		bottom: 0;
		left: -82px;
		width: 130%;
	}

	&__legend {
		margin: 0;
		margin-bottom: 16px;
		padding-bottom: 16px;
		font-weight: 400;
		font-size: rem(24px);
		line-height: 1.2;
		border-bottom: 2px solid $color-dark-blue;
	}

	&__text {
		margin: 0;
		font-size: rem(14px);
		line-height: 1.4;
	}

	&__text-wrap {
		position: relative;
	}

	&__item {
		position: relative;
		border-radius: 3px;

		&:not(:first-child) {
			overflow: hidden;
		}

		&-img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-repeat: no-repeat;
			background-position: bottom right;
			background-size: contain;
			transform-origin: bottom;
		}

		&:nth-child(1) {
			display: flex;
			flex-direction: column;
			grid-row: 1 / 4;
			width: 100%;
			max-width: 528px;

			.method__item-img {
				position: static;
				top: auto;
				left: auto;
				width: 100%;
				height: 489px;
				margin-top: auto;
				background-color: $color-green-light;
				border-radius: 3px;
			}
		}

		&:nth-child(2) {
			min-height: 502px;
			margin-bottom: 20px;
			padding: 56px 40px;

			.method__text-wrap {
				max-width: 227px;
			}

			.method__item-img {
				background-color: $color-white;
			}
		}

		&:nth-child(3) {
			min-height: 502px;
			margin-bottom: 20px;
			padding: 56px 40px;
			transform-origin: right;

			.method__item-img {
				background-color: $color-green-light;
			}

			.method__legend {
				color: $color-white;
				border-color: $color-white;
			}

			.method__text {
				color: $color-white;
			}

			.method__text-wrap {
				max-width: 245px;
			}
		}

		&:nth-child(4) {
			grid-column: 2/4;
			height: 356px;
			padding: 56px 40px;

			.method__item-img {
				background-color: $color-orange-light;
			}

			.method__legend {
				color: $color-white;
				border-color: $color-white;
			}

			.method__text {
				color: $color-white;
			}

			.method__text-wrap {
				max-width: 345px;
			}
		}
	}

	&__title {
		position: relative;
		overflow: hidden;

		h2 {
			margin: 0;
			font-weight: 200;
			font-size: rem(40px);
			line-height: 1.4;

			& > span {
				margin-bottom: 6px;
			}

			span {
				display: block;
				color: $color-orange-light;
				font-weight: 800;
				font-size: rem(72px);
				line-height: 1.2;

				span {
					display: block;
					padding-left: 124px;
					font-size: rem(56px);
				}
			}
		}
	}

	&__title-block {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: $color-grey;
		transform-origin: bottom;
	}

	@include _1680 {
		&__title {
			h2 {
				font-size: rem(40px);

				span {
					font-size: 3.2rem;

					span {
						font-size: 2.7rem;
					}
				}
			}
		}

		&__img {
			left: 0;
			width: auto;

			&-line {
				display: none;
			}
		}

		&__item {
			&:nth-child(1) {
				.method__item-img {
					height: 439px;
				}
			}

			&:nth-child(2) {
				min-height: 400px;
				padding: 36px 30px;
			}

			&:nth-child(3) {
				min-height: 400px;
				padding: 36px 30px;
			}

			&:nth-child(4) {
				height: 316px;
				padding: 36px 30px;
			}
		}

		&__image {
			top: -230px;
			right: -110px;
			width: 20%;
		}
	}

	@include _1536 {
		&__title {
			h2 {
				font-size: rem(35px);

				span {
					font-size: 3rem;

					span {
						font-size: 2.5rem;
					}
				}
			}
		}

		&__item {
			&:nth-child(2),
			&:nth-child(3) {
				min-height: 350px;

				.method__item-img {
					background-size: 53%;
				}
			}

			&:nth-child(1) {
				.method__item-img {
					height: 389px;
				}
			}
		}

		&__legend {
			font-size: 1.2rem;
		}
	}

	@include _1440 {
		&__item {
			&:nth-child(4) {
				.method__item-img {
					background-position: 140% 100%;
				}
			}
		}
	}

	@include _1366 {
		padding-bottom: 90px;
	}

	@include _1280 {
		padding-bottom: 90px;

		&__item {
			&:nth-child(1) {
				.method__item-img {
					height: 349px;
				}
			}

			&:nth-child(2),
			&:nth-child(3) {
				min-height: 340px;
			}

			&:nth-child(4) {
				height: 286px;
			}
		}
	}

	@include _1200 {
		&__container {
			grid-column-gap: 0;
			grid-template-rows: repeat(3, auto);
			grid-template-columns: repeat(2, 1fr);
		}

		&__item {
			&:nth-child(1) {
				flex-direction: row;
				grid-row: auto;
				grid-column: 1/4;
				justify-content: space-between;
				max-width: 100%;
				margin-bottom: 20px;

				.method__item-img {
					display: none;
				}

				.method__img {
					display: none;
				}
			}

			&:nth-child(2) {
				margin-right: 10px;
			}

			&:nth-child(3) {
				margin-left: 10px;
			}

			&:nth-child(4) {
				grid-column: 1/4;

				.method__item-img {
					background-position: bottom right;
				}
			}
		}

		&__image {
			top: -100px;
			right: -80px;
			width: 30%;
		}
	}

	@include _992 {
		&__title {
			h2 {
				span {
					font-size: 2.5rem;

					span {
						font-size: 2.1rem;
					}
				}
			}
		}
	}

	@include _769 {
		padding-bottom: 70px;

		&__item {
			&:nth-child(2),
			&:nth-child(3),
			&:nth-child(4) {
				padding: 30px 26px;
			}
		}
	}

	@include _740 {
		&__container {
			grid-template-rows: repeat(4, auto);
			grid-template-columns: repeat(1, 1fr);
		}

		&__item {
			&:nth-child(1) {
				grid-column: auto;
			}

			&:nth-child(2) {
				grid-column: auto;
				min-height: 290px;
				margin: 0;
				margin-bottom: 20px;

				.method__item-img {
					background-size: contain;
				}
			}

			&:nth-child(3) {
				min-height: 290px;
				margin: 0;
				margin-bottom: 20px;

				.method__item-img {
					background-size: contain;
				}
			}

			&:nth-child(4) {
				grid-column: auto;
				min-height: 290px;

				.method__item-img {
					background-image: url(../img/method-img3-mobile.webp) !important;
				}
			}

			&__image {
				top: -110px;
				right: -20px;
			}
		}
	}

	@include _540 {
		&__image {
			right: -30px;
		}
	}

	@include _500 {
		&__item {
			&:nth-child(4) {
				.method__text-wrap {
					max-width: 265px;
				}
			}
		}

		&__title {
			h2 {
				font-size: 1.8875rem;

				span {
					span {
						padding-left: 51px;
					}
				}
			}
		}
	}

	@include _480 {
		padding-bottom: 50px;

		&__title {
			h2 {
				span {
					font-size: 2rem;

					span {
						font-size: 1.8rem;
					}
				}
			}
		}

		&__container {
			margin: 0 -24px;
		}

		&__item {
			&:nth-child(1) {
				padding: 0 24px;
			}

			&:nth-child(2),
			&:nth-child(3) {
				padding: 24px;

				.method__item-img {
					background-size: 53%;
				}
			}

			&:nth-child(4) {
				padding: 24px;
			}
		}

		&__image {
			top: -20px;
		}
	}

	@include _360 {
		&__container {
			margin: 0 -16px;
		}

		&__item {
			&:nth-child(1),
			&:nth-child(2),
			&:nth-child(3),
			&:nth-child(4) {
				padding: 20px 16px;
			}

			&:nth-child(2) {
				min-height: 260px;
			}
		}

		&__legend {
			margin: 0 0 12px;
			padding-bottom: 12px;
		}
	}

	@include _320 {
		&__title {
			h2 {
				font-size: 1.5875rem;

				span {
					font-size: 1.8rem;

					span {
						font-size: 1.8rem;
					}
				}
			}
		}

		&__legend {
			br {
				display: none;
			}
		}

		&__item {
			&:nth-child(3) {
				.method__text-wrap {
					max-width: 225px;
				}
			}

			&:nth-child(4) {
				.method__text-wrap {
					max-width: 235px;
				}
			}
		}
	}
}
