.possibilities {
	margin-bottom: 160px;

	&__title {
		position: relative;
		max-width: 624px;
		overflow: hidden;

		h2 {
			margin: 0;
			font-weight: 200;
			font-size: rem(56px);
			line-height: 1.3;

			span {
				color: $color-orange-light;
				font-weight: 800;
			}
		}
	}

	&__title-block {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: $color-grey;
		transform-origin: bottom;
	}

	&__container {
		margin-top: -43px;
		margin-bottom: 111px;
	}

	&__nav {
		display: flex;
		align-items: center;
		justify-content: flex-end;
	}

	&__nav-item {
		position: relative;
		padding: 50px 60px 34px 60px;
		color: $color-white;
		font-weight: 700;
		font-size: rem(18px);
		background-color: $color-orange-light;
		border-radius: 3px 3px 0 0;
		outline: none;
		cursor: pointer;

		&._active {
			background-color: $color-green-light;
			pointer-events: none;

			&:focus {
				background-color: $color-green;
			}
		}

		&:not(:last-child) {
			&::before {
				position: absolute;
				right: -1px;
				bottom: 0;
				z-index: 1;
				width: 2px;
				height: 99%;
				background-color: $color-grey;
				content: "";
			}
		}

		&:focus {
			background-color: $color-orange;
		}

		@include desktop {
			&:hover {
				background-color: $color-orange;

				&._active {
					background-color: $color-green;
				}
			}
		}
	}

	&__content {
		position: relative;
		display: none;
		width: 100%;
		padding: 64px 137px 92px 137px;
		overflow: hidden;
		background-color: $color-green-light;

		&-img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			// background-color: $color-green-light;
			background-repeat: no-repeat;
			background-position: bottom right;
			background-size: contain;
		}

		&._active {
			display: block;
		}

		h3 {
			position: relative;
			max-width: 508px;
			margin: 0;
			margin-bottom: 10px;
			color: $color-white;
			font-weight: 800;
			font-size: rem(40px);
			line-height: 1.3;
		}

		p {
			max-width: 508px;
			margin: 0;
			margin-bottom: 40px;
			color: $color-white;
			font-weight: 400;
			line-height: 1.5;

			&:nth-of-type(1) {
				margin-bottom: 56px;
				font-size: rem(18px);
			}
		}
	}

	&__button {
		position: relative;
	}

	&__button-text {
		padding: 30px 18px;
	}

	@include _1680 {
		&__title {
			max-width: 514px;

			h2 {
				font-size: rem(45px);
			}
		}

		&__content {
			padding: 64px 77px 52px;
		}

		&__nav-item {
			padding: 40px 40px 34px;
		}
	}

	@include _1536 {
		margin-bottom: 120px;

		&__content {
			padding: 64px 47px 52px;
		}

		&__title {
			h2 {
				font-size: rem(40px);
			}
		}
	}

	@include _1440 {
		&__content {
			&-img {
				background-position: 130% 100%;
			}

			h3 {
				max-width: 388px;
				font-size: 2rem;
			}
		}

		&__button {
			&-text {
				padding: 20px 18px;
			}

			.button-primary__icon {
				padding: 27px 35px;
			}
		}
	}

	@include _1366 {
		margin-bottom: 90px;
	}

	@include _1280 {
		&__content {
			p {
				margin-bottom: 30px;
			}

			&:nth-of-type(2) {
				p {
					max-width: 458px;
				}
			}

			&-img {
				background-position: 118% 100%;
			}

			h3 {
				max-width: 100%;
				font-size: 1.7rem;
			}
		}

		&__nav-item {
			padding: 30px 30px 34px;
			font-size: 1.025rem;
		}

		&__button {
			&-text {
				font-size: 0.9rem;
			}
		}

		&__container {
			margin-bottom: 91px;
		}
	}

	@include _1200 {
		&__container {
			margin-top: 0;
		}

		&__title {
			max-width: 50%;
			margin-bottom: 40px;
		}

		&__nav {
			justify-content: flex-start;
		}

		&__content {
			padding: 35px 40px 45px;

			&-img {
				background-position: 127% 100%;
			}

			&:nth-of-type(2) {
				.possibilities__content-img {
					background-position: 182% 100%;
				}
			}

			p {
				font-size: 0.9rem;
			}
		}
	}

	@include _992 {
		&__title {
			h2 {
				font-size: 2.1875rem;
			}
		}

		&__content {
			p {
				max-width: 428px;
			}

			.possibilities__content-img {
				background-position: 167% 100%;
			}

			&:nth-of-type(2) {
				.possibilities__content-img {
					background-position: 213% 100%;
				}
			}
		}
	}

	@include _900 {
		margin-bottom: 80px;

		&__content {
			padding: 35px 27px 45px;

			&-img {
				background-position: right bottom !important;
				background-size: 50%;
			}

			&:nth-of-type(1) {
				.possibilities__content-img {
					background-image: url(../img/possibilities-img1-mobile.webp) !important;
				}
			}

			&:nth-of-type(2) {
				.possibilities__content-img {
					background-image: url(../img/possibilities-img2-mobile.webp) !important;
				}
			}

			&:nth-of-type(3) {
				.possibilities__content-img {
					background-image: url(../img/possibilities-img3-mobile.webp) !important;
				}
			}
		}

		&__nav-item {
			padding: 26px 30px 26px;
		}
	}

	@include _740 {
		&__title {
			max-width: 80%;
		}

		&__nav-item {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 33.3%;
			min-height: 76px;
			padding: 15px 15px;
			text-align: center;
		}

		&__container {
			margin-bottom: 61px;
		}

		&__content {
			padding: 30px 30px 40px;

			&-img {
				background-size: 60%;
			}

			p {
				max-width: 328px;
			}

			&:nth-of-type(2) {
				p {
					max-width: 328px;
				}
			}
		}

		&__button {
			.button-primary__icon {
				padding: 23px 32px;

				&::before,
				&::after {
					width: 36px;
					height: 36px;
				}
			}
		}
	}

	@include _540 {
		margin-bottom: 70px;

		&__nav {
			flex-direction: column;
		}

		&__nav-item {
			width: 100%;
			border-bottom: 1px solid $color-grey;
			border-radius: 0;

			&::before {
				content: none !important;
			}
		}

		&__container {
			margin: 0 -24px;
			margin-bottom: 60px;
		}

		&__content {
			padding-right: 24px;
			padding-bottom: 120px;
			padding-left: 24px;

			p {
				max-width: 100%;
			}

			&:nth-of-type(2) {
				p {
					max-width: 89%;
				}
			}
		}
	}

	@include _480 {
		&__title {
			h2 {
				font-size: 1.9875rem;
			}
		}

		&__content {
			padding-bottom: 40px;

			&:nth-of-type(1),
			&:nth-of-type(2),
			&:nth-of-type(3) {
				.possibilities__content-img {
					background-image: none !important;
				}
			}

			h3 {
				font-size: 1.3rem;
			}
		}
	}

	@include _375 {
		&__title {
			h2 {
				font-size: 1.7875rem;
			}
		}
	}

	@include _320 {
		&__title {
			h2 {
				font-size: 1.5875rem;
			}
		}

		&__container {
			margin-bottom: 50px;
		}

		&__nav-item {
			min-height: 65px;
		}
	}
}
