.programms {
	padding: 120px 0 192px 0;
	background-color: $color-white;
	background-image: url(../img/bg.webp);
	background-repeat: no-repeat;
	background-position: 50% 125%;
	background-size: 96%;

	&__title {
		position: relative;
		display: flex;
		align-items: flex-end;
		justify-content: space-between;
		margin-bottom: 54px;
		overflow: hidden;

		h2 {
			max-width: 645px;
			margin: 0;
			font-weight: normal;
			font-weight: 200;
			font-size: rem(56px);
			line-height: 1.3;

			span {
				color: $color-orange-light;
				font-weight: 800;
			}
		}

		p {
			max-width: 462px;
			margin: 0;
			font-weight: 400;
			font-size: rem(24px);
			line-height: 1.4;
		}
	}

	&__title-block {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: $color-white;
		transform-origin: bottom;
	}

	&__container {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		max-width: 1193px;
		margin-left: 137px;
		overflow: hidden;
	}

	&__content {
		display: none;
		width: calc(100% - 411px);
		overflow: hidden;

		&._active {
			display: block;
		}

		p {
			max-width: 82%;
			margin: 0;
			font-weight: 400;
			font-size: rem(18px);
			line-height: 1.5;
		}
	}

	&__legend {
		margin: 0;
		margin-bottom: 32px;
		font-weight: 700;
		font-size: rem(24px);
		font-family: $main-font-family;
	}

	&__feautures-wrap {
		display: flex;
		margin-top: 40px;
	}

	&__feautures {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-right: 64px;

		&:nth-of-type(2) {
			margin-right: 0;
		}

		.icon {
			flex-shrink: 0;
			margin-right: 24px;
			fill: $color-orange-light;
		}

		.icon-clock {
			width: 44px;
			height: 44px;
		}

		.icon-ruble {
			width: 28px;
			height: 35px;
		}
	}

	&__feautures-text {
		max-width: 274px;
		font-weight: 700;
		font-size: rem(18px);
		line-height: 1.4;
	}

	&__nav {
		flex-shrink: 0;
		max-width: 334px;
		background-color: $color-green-light;
		border-radius: 3px;
	}

	&__nav-item {
		display: block;
		width: 100%;
		padding: 20px;
		color: $color-white;
		font-weight: 400;
		font-size: rem(18px);
		line-height: 1.3;
		text-align: left;
		cursor: pointer;
		transition: background-color 0.2s ease-in-out;

		&._active {
			padding-top: 19px;
			padding-bottom: 19px;
			background-color: $color-green;
			border-top: 1px solid #77d17f;
			border-bottom: 1px solid #77d17f;
			cursor: auto;
		}

		&:last-child {
			border-radius: 0 0 3px 3px;
		}

		&:first-child {
			border-radius: 3px 3px 0 0;
		}

		@include desktop {
			&:hover {
				background-color: $color-green;
			}
		}

		&:focus {
			background-color: $color-green;
		}
	}

	@include _1680 {
		padding-top: 100px;

		&__title {
			h2 {
				max-width: 525px;
				font-size: rem(45px);
			}

			p {
				font-size: 1.3rem;
			}
		}
	}

	@include _1536 {
		padding-top: 90px;

		&__title {
			h2 {
				font-size: rem(40px);
			}
		}
	}

	@include _1440 {
		&__container {
			margin-left: 70px;
		}

		&__content {
			width: calc(100% - 391px);
		}

		&__title {
			p {
				max-width: 432px;
				font-size: 1.2rem;
			}
		}
	}

	@include _1366 {
		padding-top: 60px;

		&__legend {
			font-size: 1.3rem;
		}

		&__nac-item {
			padding: 17px;
		}
	}

	@include _1280 {
		&__container {
			max-width: 1083px;
			margin-left: 0;
		}

		&__nav-item {
			font-size: 1.025rem;
		}

		&__legend {
			margin-bottom: 22px;
		}

		&__content {
			p {
				font-size: 1.025rem;
			}
		}
	}

	@include _1200 {
		&__feautures-wrap {
			flex-direction: column;
		}

		&__content {
			width: calc(100% - 381px);
		}

		&__feautures {
			justify-content: stretch;

			&-text {
				max-width: 100%;
				font-size: 1.025rem;
			}

			.icon-clock {
				width: 34px;
				height: 34px;
			}

			.icon-ruble {
				width: 34px;
				height: 29px;
			}

			.icon {
				margin-right: 19px;
			}

			&:nth-of-type(1) {
				margin-bottom: 24px;
			}
		}
	}

	@include _992 {
		&__title {
			h2 {
				font-size: 2.1875rem;
			}
		}
	}

	@include _900 {
		padding-bottom: 170px;

		&__title {
			flex-direction: column;
			align-items: flex-start;
			justify-content: stretch;

			h2 {
				max-width: 70%;
				margin-bottom: 24px;
				font-size: 2.1875rem;
			}
		}

		&__nav {
			max-width: 264px;
		}

		&__content {
			width: calc(100% - 301px);

			p {
				max-width: 100%;
			}
		}

		&__feautures-wrap {
			margin-top: 30px;
		}

		&__feautures-text {
			max-width: 60%;
		}
	}

	@include _740 {
		&__container {
			flex-direction: column;
			align-items: stretch;
			justify-content: stretch;
		}

		&__nav {
			display: flex;
			flex-wrap: wrap;
			max-width: 100%;
			margin-bottom: 42px;
		}

		&__nav-item {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 50%;
			padding: 19px;
			text-align: center;
			border-bottom: 1px solid #77d17f;

			&:nth-child(2n) {
				border-left: 1px solid #77d17f;
			}

			&:last-child {
				border-bottom: none;
			}

			&._active {
				padding: 19px;
				border-top: none;
			}

			&:first-child {
				border-radius: 3px 0 0 0;
			}

			&:nth-child(5) {
				border-radius: 0 0 0 3px;
			}

			&:nth-child(6) {
				border-radius: 0 0 3px 0;
			}
		}

		&__content {
			width: 100%;
		}
	}

	@include _540 {
		&__title {
			margin-bottom: 34px;

			h2 {
				max-width: 100%;
			}
		}
	}

	@include _480 {
		padding-top: 40px;

		&__title {
			h2 {
				font-size: 1.9875rem;
			}

			p {
				font-size: 1rem;
			}
		}

		&__feautures-text {
			max-width: 100%;
		}
	}

	@include _375 {
		padding-bottom: 140px;

		&__title {
			h2 {
				font-size: 1.7875rem;
			}
		}

		&__nav-item {
			width: 100%;
			border: none;

			&:nth-child(2n) {
				border: none;
			}

			&._active {
				padding: 18px;
				border-top: 1px solid #77d17f;
				border-bottom: 1px solid #77d17f;
			}

			&:first-child {
				border-radius: 3px 3px 0 0;
			}

			&:nth-child(5) {
				border-radius: 0;
			}

			&:nth-child(6) {
				border-radius: 0 0 3px 3px;
			}
		}

		&__feautures {
			&-text {
				font-size: 0.925rem;
			}

			.icon-clock {
				width: 30px;
				height: 34px;
			}

			.icon-ruble {
				width: 30px;
				height: 25px;
			}
		}
	}

	@include _320 {
		&__title {
			h2 {
				font-size: 1.5875rem;
			}
		}

		&__nav {
			width: auto;
			max-width: none;
			margin: 0 -16px;
			margin-bottom: 32px;
		}
	}
}
