.school {
	position: relative;
	margin-bottom: 188px;

	&__container {
		position: relative;
	}

	&__line {
		position: absolute;
		right: -200px;
		bottom: 34px;
		z-index: -1;
		width: 100%;

		#line {
			stroke-dasharray: 5700;
		}
	}

	&__img {
		position: absolute;
		bottom: -160px;
		left: -160px;
	}

	&__img-bg {
		position: absolute;
		top: 0;
		left: 50%;
		z-index: -1;
		width: 110%;
		margin-right: -50%;
		transform: translateX(-50%);
	}

	&__title {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		max-width: 684px;
		margin-bottom: 109px;
		margin-left: auto;

		h2 {
			margin: 0;
			margin-bottom: 20px;
			font-weight: 200;
			font-size: rem(56px);
			line-height: 1.3;

			span {
				color: $color-orange-light;
				font-weight: 800;

				span {
					padding-left: 105px;
				}
			}
		}

		p {
			max-width: 411px;
			margin: 0;
			font-weight: 400;
			font-size: rem(18px);
			font-family: $main-font-family;
			line-height: 1.5;
		}

		&-img {
			position: absolute;
			right: -120px;
			bottom: -53%;
			z-index: -1;
		}
	}

	&__list {
		display: flex;
		margin: -20px;
		margin-bottom: 0;
		counter-reset: number;
	}

	&__item {
		position: relative;
		display: flex;
		flex-direction: column;
		align-self: flex-start;
		width: calc(25% - 40px);
		min-height: 500px;
		margin: 20px;
		padding: 24px 30px;
		background-color: $color-white;
		border-radius: 3px;

		&:nth-of-type(1) {
			margin-top: -240px;
		}

		&:nth-of-type(2) {
			margin-top: -121px;
		}

		&:nth-of-type(4) {
			margin-top: 120px;
		}

		&::before {
			position: absolute;
			bottom: 0;
			left: 50%;
			width: 244px;
			height: 1px;
			box-shadow: 0 2px 8px rgba($color: #0000, $alpha: 0.3);
			transform: translateX(-50%);
			content: "";
		}

		&::after {
			position: absolute;
			bottom: -65px;
			left: 0;
			z-index: -1;
			display: flex;
			align-items: center;
			justify-content: center;
			width: 45px;
			height: 45px;
			border: 1px solid #dbdbdb;
			border-radius: 50%;
			content: counter(number);
			counter-increment: number;
		}

		&-img {
			position: absolute;
			top: 48px;
			left: 50%;
			margin-right: -50%;
			transform: translateX(-50%);
		}

		&-legend {
			display: inline-block;
			margin-top: auto;
			margin-bottom: 24px;
			font-weight: 700;
			font-size: rem(18px);
		}

		&-text {
			display: block;
			line-height: 1.4;
		}
	}

	&__button {
		margin: 0 auto;

		&-text {
			padding: 14px 32px;

			.small-text {
				display: block;
				text-transform: lowercase;
			}
		}
	}

	@include _1680 {
		&__title {
			h2 {
				font-size: rem(45px);
			}

			&-img {
				right: 10px;
				bottom: -63%;
			}
		}

		&__img {
			width: 24%;
		}

		&__item {
			min-height: 460px;

			&-img {
				width: 325px;
				height: 265px;

				img {
					width: 100%;
					height: 100%;
					object-fit: contain;
				}
			}
		}
	}

	@include _1536 {
		&__title {
			h2 {
				font-size: rem(40px);
			}
		}
	}

	@include _1440 {
		&__title {
			max-width: 643px;

			&-img {
				right: -70px;
			}
		}

		&__item {
			min-height: 440px;

			&-img {
				top: 20px;
				width: 315px;
				height: 245px;
			}

			&-legend {
				margin-bottom: 16px;
			}
		}

		&__line {
			right: 0;
		}
	}

	@include _1366 {
		margin-bottom: 136px;

		&__title {
			max-width: 620px;
		}
	}

	@include _1280 {
		&__title {
			max-width: 580px;

			&-img {
				right: -40px;
				bottom: -43%;
				width: 50%;
			}
		}

		&__item {
			min-height: 400px;
			padding: 20px 25px;

			&-img {
				width: 275px;
				height: 205px;
			}
		}
	}

	@include _1200 {
		&__list {
			flex-wrap: wrap;
			margin-bottom: 80px;
		}

		&__item {
			width: calc(50% - 40px);
			min-height: 350px;
			transform: none !important;

			&:nth-of-type(1) {
				margin-top: 20px;
			}

			&:nth-of-type(2) {
				margin-top: 20px;
			}

			&:nth-of-type(4) {
				margin-top: 20px;
			}

			&-img {
				top: 30px;
			}

			&::after {
				top: 20px;
				bottom: auto;
				left: 20px;
				z-index: 1;
			}
		}

		&__img {
			left: -90px;
		}
	}

	@include _992 {
		&__title {
			margin-bottom: 60px;

			h2 {
				font-size: rem(35px);
			}
		}
	}

	@include _769 {
		&__title {
			margin-left: 0;

			&-img {
				right: -100px;
				bottom: -23%;
			}
		}

		&__item {
			&-img {
				width: 255px;
				height: 175px;
			}
		}

		&__img {
			bottom: -140px;
			left: -80px;
			width: 29%;
		}

		&__list {
			margin-bottom: 60px;
		}
	}

	@include _740 {
		&__title {
			&-img {
				right: -20px;
				width: 40%;
			}
		}

		&__list {
			margin: -10px -10px;
			margin-bottom: 50px;
		}

		&__item {
			width: calc(50% - 20px);
			min-height: 400px;
			margin: 10px 10px;

			&::after {
				top: 15px;
				left: 15px;
			}

			&-img {
				top: 50px;
			}
		}

		&__img {
			bottom: -190px;
		}
	}

	@include _540 {
		&__title {
			&-img {
				display: none;
			}
		}

		&__item {
			width: calc(100% - 20px);
			min-height: 350px;

			&-img {
				top: 30px;
				width: 265px;
				height: 195px;
			}
		}

		&__line {
			top: 250px;
			bottom: auto;
		}

		&__img {
			bottom: -170px;
			left: -80px;
			width: 33%;
		}
	}

	@include _480 {
		&__button {
			justify-content: space-between;
			width: 100%;

			.button-primary__icon {
				padding: 18px 35px;
			}
		}

		&__button-text {
			width: calc(100% - 81px);
			padding: 14px;
		}

		&__title {
			margin-bottom: 40px;

			h2 {
				font-size: 1.9875rem;
			}
		}

		&__img {
			left: -40px;
		}
	}

	@include _375 {
		margin-bottom: 106px;

		&__img {
			bottom: -130px;
			left: -40px;
		}

		&__item {
			min-height: 330px;

			&-img {
				height: 165px;
			}
		}

		&__title {
			margin-bottom: 40px;

			h2 {
				font-size: 1.7875rem;
			}

			p {
				font-size: 1.025rem;
			}
		}

		&__list {
			margin-bottom: 40px;
		}
	}

	@include _320 {
		&__title {
			h2 {
				font-size: 1.5875rem;
			}

			p {
				font-size: 0.925rem;
			}
		}

		&__item {
			&-text {
				font-size: 0.925rem;
			}
		}

		&__button {
			&-text {
				font-size: 0.8rem;
			}
		}
	}
}
