.footer {
	padding: 40px 0 60px 0;
	background-color: $color-orange-light;

	&__row {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 40px;

		&:last-child {
			margin-bottom: 0;
		}

		&:nth-of-type(2) {
			align-items: stretch;
		}
	}

	&__logo {
		outline: none;

		&:focus {
			.footer__img {
				transform: scale(1.1);
			}

			p {
				color: #892c06;
			}
		}
	}

	&__btn-group {
		.phone-content {
			outline: none;

			&:focus {
				color: #892c06 !important;
			}
		}
	}

	&__button {
		&:focus {
			span {
				color: #892c06;

				&::before {
					content: none;
				}
			}
		}

		&:active {
			transform: scale(0.98);
		}
	}

	&__location {
		display: flex;
		align-items: flex-start;
		margin-bottom: 24px;
		color: $color-white;
		font-weight: 400;
		font-size: rem(14px);
		line-height: 1.4;

		.icon-marker {
			width: 14px;
			height: 17px;
			margin-right: 10px;
			fill: $color-white;
		}
	}

	&__company {
		display: flex;
		flex-wrap: wrap;
		max-width: 1032px;
		margin: -20px -10px;
	}

	&__company-item {
		max-width: 238px;
		margin: 20px 10px;

		span {
			display: block;
			color: #892c06;

			&:nth-of-type(1) {
				margin-bottom: 16px;
				font-weight: 700;
			}

			&:nth-of-type(2) {
				font-weight: 400;
			}
		}

		a {
			display: inline-block;
			margin-bottom: 16px;
			color: $color-white;
			font-weight: 700;
			font-size: rem(16px);
			outline: none;

			&:focus {
				color: #892c06 !important;
			}
		}
	}

	&__col {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		max-width: 248px;
	}

	&__copyright {
		display: inline-block;
		margin-bottom: 10px;
		color: $color-white;
		font-size: rem(12px);
		line-height: 1.4;
	}

	&__policy {
		position: relative;
		display: inline-block;
		color: $color-white;
		font-size: rem(12px);
		outline: none;

		&::before {
			position: absolute;
			bottom: -3px;
			left: 0;
			width: 100%;
			height: 2px;
			border-bottom: 1px dashed $color-white;
			content: "";
		}

		&:hover {
			&::before {
				content: none;
			}
		}

		&:focus {
			color: #892c06;

			&::before {
				content: none;
			}
		}
	}

	&__b2b {
		position: relative;
		display: inline-block;
		margin-top: auto;
		color: $color-white;
		font-size: rem(12px);

		&::before {
			position: absolute;
			bottom: -3px;
			left: 0;
			width: 100%;
			height: 2px;
			border-bottom: 1px dashed $color-white;
			content: "";
		}

		&:hover {
			&::before {
				content: none;
			}
		}
	}

	@include _1280 {
		&__company {
			max-width: 775px;
		}
	}

	@include _1200 {
		&__company {
			max-width: 525px;
		}
	}

	@include _992 {
		&__company {
			max-width: 465px;

			&-item {
				max-width: 211px;
			}
		}
	}

	@include _740 {
		&__row {
			flex-direction: column;

			&:nth-of-type(1) {
				align-items: stretch;
				justify-content: stretch;
			}
		}

		&__logo {
			margin-bottom: 24px;
		}

		&__btn-group {
			align-items: flex-start;
		}

		&__company {
			max-width: 100%;
			margin-bottom: 48px;
		}

		&__col {
			max-width: 100%;
		}

		&__copyright {
			max-width: 300px;
		}

		&__policy {
			margin-bottom: 32px;
		}

		&__company-item {
			width: calc(50% - 20px);
			max-width: none;
		}
	}

	@include _480 {
		&__logo {
			flex-direction: column;
			align-items: stretch;
			justify-content: stretch;

			img {
				margin-bottom: 16px;
			}
		}
	}

	@include _375 {
		&__company {
			margin-bottom: 32px;

			&-item {
				span {
					font-size: 0.9rem;
				}
			}
		}
	}

	@include _320 {
		&__company {
			&-item {
				width: 100%;
			}

			&-adress {
				display: block;
			}
		}
	}
}
