section.section.exams
	.exams__image.parallax(data-depth='0.4')
		+picture("book.png", "книга")
	.site-container
		.exams__feautures.lazy(data-bg="img/feautures-img.webp",data-bg-fallback="img/feautures-img.png")
			.exams__feautures-img
				+pictureLazy("feautures-img1.png", "Девочка")
			span.exams__text
				strong
					|	Пройдите короткий тест на&nbsp;2&nbsp;минуты
				|	и&nbsp;определите формат обучения, который подойдет вашему ребенку
			button.exams__button.button-reset.button-primary
				span.button-primary__text.exams__button-text
					|	Подобрать
					br
					|	программу
				span.button-primary__icon
					+icon("arrow")
		.exams__title
			.exams__title-block
			h2
				span
					|	Наши ученики сдают международные
				|	экзамены с&nbsp;1-го раза
			.exams__nav-buttons.slider-buttons
				span.exams__nav-btn._left.slider-button-left
					+icon("arow-left")
				span.exams__nav-btn._right.slider-button-right
					+icon("arow-right")
		.exams__container.swiper-container
			.swiper-wrapper
				- for (var x = 0; x < 5; x++)
					.swiper-slide.exams__slide
						.exams__slide_front
							h3.exams__slide-legend._front
								|	IELTS (International English Language Testing System)
							p.exams__slide-text._front
								|	Популярный тест английского языка для учебы
								|	и&nbsp;иммиграции в&nbsp;Великобританию, Канаду,
								|	Австралию и&nbsp;Новую Зеландию
							img.exams__slide-img(src="img/exams-img.png", alt="IELTS (International English Language Testing System)")
						.exams__slide_back
							span.exams__slide-legend._back
								|	IELTS (International English Language Testing System)
							p.exams__slide-text._back
								|	Популярный тест английского языка для учебы
								|	и&nbsp;иммиграции в&nbsp;Великобританию, Канаду,
								|	Австралию и&nbsp;Новую Зеландию
							button.exams__slide-button.button-reset.button-primary
								span.button-primary__text.exams__slide-button-text
									|	Записаться на подготовку
								span.button-primary__icon
									+icon("arrow")
			.exams__slider-pagination

