section.section.free
	.free__img
		+picture("teachers.png", "Учителя")
	.free__img._lines
		+picture("lines.png", "Линии")
	.site-container
		.free__row
			.free__col
				.free__img._mobile
					+picture("teachers.png", "Учителя")
				.free__title
					.free__title-block
					h2
						span
							|	Запишитесь на&nbsp;бесплатную
						|	встречу  с&nbsp;методистом
				.free__list
					ul
						li
							strong
								|	Методист пообщается с&nbsp;ребенком
							|	и&nbsp;мотивирует его на&nbsp;изучение английского.
						li
							strong
								|	Ребенок пройдет тестирование на&nbsp;15&nbsp;минут,
							|	чтобы определить уровень владения языком.
						li
							strong
								|	Специалист подберет программу
							|	и&nbsp;группу, ориентируясь на&nbsp;уровень и&nbsp;задачи.
			.free__col
				form.free__form
					span.free__form-title
						|	Оставьте заявку
					span.free__form-text
						|	мы&nbsp;перезвоним и&nbsp;договоримся о&nbsp;времени встречи
					label.free__form-label
						input(type="text", class="free__form-input", name="Имя", placeholder="Имя")
					label.free__form-label
						input(type="text", class="free__form-input", name="tel", placeholder="Телефон")
					button.free__button.button-reset.button-primary
						span.button-primary__text.free__button-text
							|	Оставить заявку
						span.button-primary__icon.free__button-icon
							+icon("arrow")
					label.free__agreement
						input(type="checkbox", class="free__agreement-checkbox visually-hidden", name="", checked="checked")
						span.free__agreement-text
							|	Я&nbsp;даю свое согласие на&nbsp;обработку персональных данных и&nbsp;соглашаюсь с
							a(href="", class="free__agreement-link")
								|	политикой конфиденциальности
