section.section.happy
	.site-container
		.happy__title
			.happy__circle
				<svg xmlns="http://www.w3.org/2000/svg" width="543.059" height="358.485" viewBox="0 0 543.059 358.485"><path d="M250,1c-16.932,0-33.853.757-50.293,2.251-16.02,1.455-31.777,3.627-46.833,6.455A414.234,414.234,0,0,0,110.51,19.915a312.736,312.736,0,0,0-36.881,13.51A212.656,212.656,0,0,0,43.245,49.775,130.7,130.7,0,0,0,20.37,68.484,76.8,76.8,0,0,0,5.987,89.048a50.8,50.8,0,0,0,0,43.9A76.8,76.8,0,0,0,20.37,153.517a130.7,130.7,0,0,0,22.875,18.709,212.658,212.658,0,0,0,30.384,16.349,312.736,312.736,0,0,0,36.881,13.51,414.234,414.234,0,0,0,42.363,10.209c15.056,2.828,30.813,5,46.833,6.455C216.147,220.243,233.068,221,250,221s33.853-.757,50.293-2.251c16.02-1.455,31.777-3.627,46.833-6.455a414.235,414.235,0,0,0,42.363-10.209,312.736,312.736,0,0,0,36.881-13.51,212.658,212.658,0,0,0,30.384-16.349,130.7,130.7,0,0,0,22.875-18.709,76.8,76.8,0,0,0,14.383-20.565,50.8,50.8,0,0,0,0-43.9A76.8,76.8,0,0,0,479.63,68.484a130.7,130.7,0,0,0-22.875-18.709,212.656,212.656,0,0,0-30.384-16.349,312.736,312.736,0,0,0-36.881-13.51A414.235,414.235,0,0,0,347.127,9.706c-15.056-2.828-30.813-5-46.833-6.455C283.853,1.757,266.932,1,250,1m0-1C388.071,0,500,49.7,500,111S388.071,222,250,222,0,172.3,0,111,111.929,0,250,0Z" transform="translate(0 146.186) rotate(-17)" fill="#e0612e"/></svg>
			h2
				span
					|	ребят и&nbsp;их&nbsp;родителей
				|	довольны обучением в&nbsp;нашей школе
			.happy__nav-buttons.slider-buttons
				span.happy__nav-btn._left.slider-button-left
					+icon("arow-left")
				span.happy__nav-btn._right.slider-button-right
					+icon("arow-right")

		.happy__container.swiper-container
			.swiper-wrapper
				- for (let c = 0; c<4; c++)
					article.happy__slide.swiper-slide
						span.happy__legend
							|	Евгения
						._wrap
							p
								|	Дочка ходит на&nbsp;индивидуальные занятия.
								|	Несмотря на&nbsp;ранний возраст, она начала понимать язык, запоминать
								|	слова и&nbsp;фразы, с&nbsp;удовольствием дома демонстрирует&nbsp;то,
								|	что изучила на&nbsp;занятиях. Для любого родителя важно, чтобы ребенку нравилось
								|	ходить заниматься с&nbsp;педагогом, но&nbsp;еще очень важно, чтобы радость приносила
								|	еще и&nbsp;результат. В&nbsp;нашем случае&nbsp;&mdash; это так.
								|	Дочка ходит на&nbsp;индивидуальные занятия.
								|	Несмотря на&nbsp;ранний возраст, она начала понимать язык, запоминать
								|	слова и&nbsp;фразы, с&nbsp;удовольствием дома демонстрирует&nbsp;то,
								|	что изучила на&nbsp;занятиях.Для любого родителя важно, чтобы ребенку нравилось
								|	ходить заниматься с&nbsp;педагогом, но&nbsp;еще очень важно, чтобы радость приносила
								|	еще и&nbsp;результат. В&nbsp;нашем случае&nbsp;&mdash; это так.
						button.button-reset.happy__read-more
							span.span.read-more
								|	Читать дальше
							span.span.hide-text
								|	Скрыть
		.happy__slider-pagination
