section.free-speak.lazy(data-bg="img/img-bg.webp",data-bg-fallback="img/img-bg.png")
	.free-speak__texts
		- for (let c = 0; c<3; c++)
			img(src=`img/img${c}.png`, alt="Текст")
	.free-speak__img
		+picture-mobile("hero-img.png", "Дети", "hero-img-mobile.png")
	.free-speak__img._lines
		+picture("lines.png", "Линии")
	.site-container
		.free-speak__container
			.free-speak__left
				.free-speak__title
					div.free-speak__subtitle
						img.free-speak__woman(src="img/woman.png", alt="Преподаватель")
						span
							|	Научим
						|	вашего ребенка
					h1
						|	Cвободно говорить
						br
						|	по-английски
					span.free-speak__text
						|	и подготовим к сдаче экзаменов
				button.free-speak__button.button-reset.button-primary
					span.button-primary__text
						|	Записаться
					span.button-primary__icon
						+icon("arrow")
			.free-speak__right
				.free-speak__info
					._money
						+picture("money.png", "Деньги от материнского капитала")
					._london
						+picture("london.png", "Лондон")
					._bus
						+picture("bus.png", "Лондон")
					p.free-speak__info-text
						strong
							|	Занятия можно полностью оплачивать средствами материнского капитала,
						|  а&nbsp;также делать налоговый вычет.

