- let loc_arr = [{name: "На рылеева", text:"ул. Рылеева, д. 10 (метро «Чернышевская»)"},{name: "На Веденеева", text: "Ул. Веденеева, д. 2 (метро «Политехническая»)"},{name: "На Смоленской", text: "Ул. Смоленская, д. 14 (метро «Фрунзенская»)"},{name: "На Просвещения", text: "пр. Просвещения, д. 99 (метро «Гражданский проспект»)"},{name: "На Киевской", text: "Ул. Киевская, д. 3 (метро «Фрунзенская»)"},{name: "На Шуваловском", text: "пр. Шуваловский, д. 37, к. 1 (метро «Комендантский проспект»)"},{name: "На Выборгском", text: "Выборгское шоссе, д. 15 (метро «Проспект Просвещения»)"},{name: "На Нахимова", text: "Ул. Нахимова, д. 11 (метро «Приморская»)"}];
- let n = 0;

section.section.location.lazy(data-bg="img/map-bg.webp",data-bg-fallback="img/map-bg.png")
	.site-container
		.location__title
			.location__title-block
			h2
				span
					|	Не&nbsp;нужно далеко ездить:
				|	наши центры находятся в&nbsp;спальных районах
		.location__container
			ul.location__adress-list
				for val in loc_arr
					- n++;
					li.location__adress-item(class=`${ n == 1 ? "_active" : "" }`, data-adress="Санкт-Петербург, ул. Просвещения, 99", tabindex=0)
						adress.adress
							span.location__adress-legend=val.name
							span.location__adress-text=val.text
				li.show-more._last
					span
						|	Еще
			.location__map.ymap(id="ymap")
