main.page-main.main
	include hero.pug
	include school.pug
	include method.pug
	include programms.pug
	include exams.pug
	include possibilities.pug
	include location.pug
	include happy.pug
	include free.pug
