section.section.method
	.method__image.parallax(data-depth='0.7')
		+picture("book.png", "книга")
	.method__img-line
		+picture("book-line.png", "линии")
	.site-container
		.method__container
			artice.method__item
				.method__title
					.method__title-block
					h2
						span
							|	С&nbsp;2008 года
							br
							span
								|	учим детей
						|	по&nbsp;коммуникативной методике
				.method__item-img
				.method__text-wrap
				.method__img
					+picture("method_img1.png", "Дети")
			artice.method__item
				.method__item-img.lazy(data-bg="img/method-img1.webp",data-bg-fallback="img/method-img1.png")
				.method__text-wrap
					h3.method__legend
						strong
							|	Преподаватель
						|	&nbsp;&mdash; помощник, а&nbsp;не&nbsp;тиран
					p.method__text
						|	Даже изучая язык с&nbsp;нуля, уже на&nbsp;первом занятии ребенок выучит 10-20&nbsp;фраз. Это позволяет быстро привыкнуть к&nbsp;звучанию речи и&nbsp;понимать ее&nbsp;на&nbsp;слух.

			artice.method__item
				.method__item-img.lazy(data-bg="img/method-img2.webp",data-bg-fallback="img/method-img2.png")
				.method__text-wrap
					h3.method__legend
						strong
							|	Обсуждаем только
						|	реальные ситуации
					p.method__text
						|	Никаких абстрактных разговоров о&nbsp;том, что Джон пошел в&nbsp;магазин за&nbsp;молоком для Мэри. Говорим на&nbsp;уроках только об&nbsp;актуальных событиях и&nbsp;используем реальные фильмы, книги и&nbsp;новостные издания.
			artice.method__item
				.method__item-img.lazy(data-bg="img/method-img3.webp",data-bg-fallback="img/method-img3.png")
				.method__text-wrap
					h3.method__legend
						strong
							|	Начинаем
							br
							|	не&nbsp;с&nbsp;алфавита
						|, а&nbsp;с&nbsp;разговора
					p.method__text
						|	Даже изучая язык с&nbsp;нуля, уже на&nbsp;первом занятии ребенок выучит 10-20&nbsp;фраз. Это позволяет быстро привыкнуть к&nbsp;звучанию речи и&nbsp;понимать ее&nbsp;на&nbsp;слух.
