- let arr_list = ["Летний лагерь", "Каникулы в городе", "Поездка в Англию"];
- num_list = 0;
- num_list2 = 0;

section.section.possibilities
	.site-container
		.possibilities__title
			.possibilities__title-block
			h2
				span
					|	Дополнительные возможности
				|	для&nbsp;изучения языка
		.possibilities__container.tabs
			div.possibilities__nav
				each val in arr_list
					- num_list++;
					button.button-reset.possibilities__nav-item.tabs__button(class=`${(num_list == 2 ? "_active" : "")}`, data-tabs-parent=`${num_list}`)=val
			each val in arr_list
				- num_list2++;
				article.possibilities__content.tabs__content(class=`${(num_list2 == 2 ? "_active" : "")}`, data-tabs-child=`${num_list2}`)
					.possibilities__content-img.lazy(data-bg=`img/possibilities-img${num_list2}.webp`,data-bg-fallback=`img/possibilities-img${num_list2}.png`,)
					.possibilities__content-info
						h3
							|	Городская программа на каникулах
						p
							|	Во&nbsp;всех филиалах школы &laquo;Инфинитив&raquo;
						p
							|	На&nbsp;время школьных каникул, не&nbsp;только летних,
							|	но&nbsp;и&nbsp;осенних, зимних и&nbsp;весенних на&nbsp;территории школ проводится городской лагерь.
							|	В&nbsp;это время ребята могут не&nbsp;только подтянуть английский,
							|	но&nbsp;и&nbsp;прекрасно провести время в&nbsp;компании сверстников.
						button.possibilities__button.button-reset.button-primary
							span.button-primary__text.possibilities__button-text
								|	Узнать подробнее
							span.button-primary__icon
								+icon("arrow")
	.our-class
		.our-class__gallery._top
			._wrapper
				- for (let a=0; a<5; a++)
					.our-class__slide.lazy(data-bg=`img/our-class${a}.webp`,data-bg-fallback=`img/our-class${a}.jpg`)

		.our-class__gallery._bottom
			._wrapper
				- for (let b=0; b<6; b++)
					.our-class__slide.lazy(data-bg=`img/our-classs${b}.webp`,data-bg-fallback=`img/our-classs${b}.jpg`)
