- let nav_list = ["Курс для школьников","Осенний лагерь в Сочи","Занятия для малышей","Разговорный клуб с носителем языка","Индивидуальные занятия","Онлайн-уроки на платформе Zoom"];
- let number_list = 0;
- let number_list2 = 0;

section.section.programms
	.site-container
		.programms__title
			.programms__title-block
			h2
				span
					|	5&nbsp;эффективных программ
				|	под разные цели обучения
			p
				strong
					|	У&nbsp;нас работают 120+&nbsp;преподавателей,
				|	которые любят детей и&nbsp;умеют классно с&nbsp;ними заниматься
		.programms__container.tabs-1
			div.programms__nav
				each item in nav_list
					- number_list++;
					button.button-reset.programms__nav-item.tabs__button-1(class=`${(number_list == 1 ? "_active" : "")}`, data-tabs-parent1=`${number_list}`)=item

			each item in nav_list
				- number_list2++;
				article.programms__content.tabs__content-1(class=`${(number_list2 == 1 ? "_active" : "")}`, data-tabs-child-1=`${number_list2}`)
					._wrap
						h3.programms__legend=item
						p.programms__text
							|	Мы&nbsp;обучаем малышей с&nbsp;3-х лет. Именно с&nbsp;этого возраста
							|	ребенок осознанно изучает мир и&nbsp;начинает активно общаться самостоятельно.
							|	Главная задача таких уроков&nbsp;&mdash; привить интерес и&nbsp;любовь к&nbsp;английскому языку.
							br
							br
							|	Занятия с&nbsp;группами малышей ведут самые талантливые и&nbsp;креативные педагоги.
						.programms__feautures-wrap
							span.programms__feautures
								+icon("clock")
								span.programms__feautures-text
									|	Занятия 1&nbsp;или 2&nbsp;раза в&nbsp;неделю по&nbsp;45-60 минут
							span.programms__feautures
								+icon("ruble")
								span.programms__feautures-text
									|	Абонемент на&nbsp;3&nbsp;месяца&nbsp;&mdash; от&nbsp;9&nbsp;000 рублей
