- let list = [{name: "Нет практики", text: "Уроки английского в школе заточены на зубрежку текстов в отрыве от реальности."},{name: "Плохие учебные материалы", text: "Детям предлагают наигранные аудиозаписи и скучные таблицы времен."},{name: "Только ЕГЭ", text: "Учителя формируют клиповое мышление, направленное только на сдачу экзамена."},{name: "Устаревшие методики", text: "В школе не понимают, что работавшие в 80-х методы не подходят детям XXI века."}]
- let number = 0;

section.section.school
	.school__img.parallax(data-depth='0.5')
		+picture("school-img.png", "Тетрадка")
	.school__line
		<svg xmlns="http://www.w3.org/2000/svg" width="1856.496" height="973.838" viewBox="0 0 1856.496 973.838">
			<path id="line" d="M.922,974.184c102.9-94.5,177.966-215.07,258.849-327.658,76.08-105.9,165.16-224.679,190.832-354.756C464.591,219.827,461.476,138.961,435.3,70.6,422.248,36.534,396.566,1.856,356.84,1.215,272.123,9.61,180.8,169.126,151.569,238.181,67.175,437.549,71.126,663.995,213.324,835.32c48.218,58.095,110.194,108.923,185.788,124.6C500.834,981.9,606.438,949,697.15,903.409c196.74-99.1,355.978-270.468,442.24-472.82,46.41-107.179,87.914-312.177-18.005-399.915C1090.613,9.82,1055.7.219,1018.315,3.253c-85.692,12.916-146.5,87.175-180.133,162.208C783.224,288.56,756.554,453.6,764.6,587.238c3.855,64.049,18.515,134.087,60.1,185,67.683,83.626,191.429,100.259,291.467,106.348,87.527,5.327,178.951,6.659,265.2-10.931,111.769-22.795,215.17-74.838,313.82-130.341,55.374-30.871,110.044-61.971,161.607-98.2" transform="translate(-0.584 -0.715)" fill="none" stroke="#e0612e" stroke-width="1" fill-rule="evenodd"/>
		</svg>
	.site-container
		.school__container
			.school__img-bg
				+picture("bg.png", "линии")
			.school__title
				.school__title-img
					+picture("pencil.png", "Шариковая ручка")
				h2
					span
						|	&laquo;Школьный
						br
						span английский&raquo;
					br
					|	не&nbsp;имеет ничего общего со&nbsp;знанием языка
				p
					strong
						|	Только треть выпускников школ
					|	говорят хотя&nbsp;бы на&nbsp;уровне Intermediate.
			ul.school__list
				each item in list
					- number++;
					li.school__item
						.school__item-img
							+picture(`item-img${number}.png`, "Нет практики")
						span.school__item-legend=item.name
						span.school__item-text=item.text
			button.school__button.button-reset.button-primary
				span.button-primary__text.school__button-text
					|	Записаться
					span.small-text
						|	На бесплатное тестирование
				span.button-primary__icon
					+icon("arrow")

