.header {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 150;
	width: 100%;
	border-bottom: 1px solid $color-grey;

	&__container {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__img {
		transition: transform 0.3s ease-in-out;
	}

	&__logo {
		padding: 30px 0;
		padding-right: 32px;
		border-right: 1px solid $color-grey;
		outline: none;

		p {
			color: $color-dark-blue;
		}

		&:focus {
			.header__img {
				transform: scale(1.1);
			}

			p {
				color: $color-orange-light;
			}
		}
	}

	&__btn-group {
		.phone-content {
			color: $color-dark-blue !important;
			outline: none;

			&:focus {
				color: $color-orange-light !important;
			}
		}
	}

	&__button {
		span {
			color: $color-green-light;

			&::before {
				border-color: $color-green-light;
			}
		}

		&:active {
			transform: scale(0.98);
		}

		&:focus {
			span {
				color: $color-orange-light;

				&::before {
					content: none;
				}
			}
		}
	}

	@include _1366 {
		&__logo {
			padding: 20px 30px 20px 0;
		}
	}

	@include _740 {
		&__logo {
			padding: 20px 20px 20px 0;
			padding-right: 0;
			border-right: none;

			img {
				max-width: 150px;
				margin-right: 17px;
			}

			p {
				max-width: 142px;
				font-size: 0.775rem;
			}
		}

		&__btn-group {
			.phone-content {
				font-size: 0.925rem;
			}
		}
	}

	@include _480 {
		&__logo {
			p {
				display: none;
			}
		}
	}

	@include _320 {
		&__logo {
			img {
				max-width: 130px;
			}
		}
	}
}
