@font-face {
	font-weight: 200;
	font-family: "Inter";
	font-style: normal;
	font-display: swap;
	src:
		url("../fonts/Inter-Light.woff2") format("woff2"),
		url("../fonts/Inter-Light.woff") format("woff");
}

@font-face {
	font-weight: 800;
	font-family: "Inter";
	font-style: normal;
	font-display: swap;
	src:
		url("../fonts/Inter-ExtraBold.woff2") format("woff2"),
		url("../fonts/Inter-ExtraBold.woff") format("woff");
}

@font-face {
	font-weight: 700;
	font-family: "Golos";
	font-style: normal;
	font-display: swap;
	src:
		url("../fonts/Golos-text-bold.woff2") format("woff2"),
		url("../fonts/Golos-text-bold.woff") format("woff");
}

@font-face {
	font-weight: 400;
	font-family: "Golos";
	font-style: normal;
	font-display: swap;
	src:
		url("../fonts/Golos-text-regular.woff2") format("woff2"),
		url("../fonts/Golos-text-regular.woff") format("woff");
}
