- let arr = [{name: "На рылеева", text:"ул. Рылеева, д. 10 (метро «Чернышевская»)"},{name: "На Веденеева", text: "Ул. Веденеева, д. 2 (метро «Политехническая»)"},{name: "На Смоленской", text: "Ул. Смоленская, д. 14 (метро «Фрунзенская»)"},{name: "На Просвещения", text: "пр. Просвещения, д. 99 (метро «Гражданский проспект»)"},{name: "На Киевской", text: "Ул. Киевская, д. 3 (метро «Фрунзенская»)"},{name: "На Шуваловском", text: "пр. Шуваловский, д. 37, к. 1 (метро «Комендантский проспект»)"},{name: "На Выборгском", text: "Выборгское шоссе, д. 15 (метро «Проспект Просвещения»)"},{name: "На Нахимова", text: "Ул. Нахимова, д. 11 (метро «Приморская»)"}];

footer.footer
	.site-container
		.footer__container
			.footer__row
				a.footer__logo.main-logo(href="")
					img.footer__img(src="img/logo-white.svg", alt="Логотип")
					p
						| Курсы английского языка для школьников
				.footer__btn-group.btn-group
					a.phone-content(href="")
						|	8(911) 924-36-04
					button.button-reset.footer__button.btn-group__button
						span
							| Заказать звонок
			span.footer__location
				+icon("marker")
				|	Санкт-Петербург
			.footer__row
					ul.footer__company
						each item in arr
							li.footer__company-item
								adress.footer__company-adress
									span=item.name
									a(href="")
										|	8 (911) 924-36-04
									span=item.text
					.footer__col
						span.footer__copyright
							|	ⓒ Все права защищены. Информация  на сайте не является публичной офертой. ИНН: 00000000000
						a.footer__policy(href="")
							|	Политика конфиденциальности
						a.footer__b2b(href="")
							|	Создание лендинга B2B


