header.header
	.site-container
		.header__container
			a.header__logo.main-logo(href="")
				img.header__img(src="img/logo.svg", alt="Логотип")
				p
					| Курсы английского языка для школьников
			.header__btn-group.btn-group
				a.phone-content(href="")
					|	8(911) 924-36-04
				button.button-reset.header__button.btn-group__button
					span
						| Заказать звонок
