include ../data/config.pug
include ../components/**/*.pug


block variables


doctype html
html(lang="ru")
	head
		include ../parts/head.pug
	body(class=bodyClass)
		.preloader
			.site-container
				img.preloader__img(src="img/logo.svg", alt="Логотип")
		.page-wrapper
			block header
				include ../parts/header.pug

			block content

			block footer
				include ../parts/footer.pug

	block scripts
		script(src="js/main.js?v=" + siteVersion)
		script(src="https://api-maps.yandex.ru/2.1/?apikey=adaff80d-a56b-4e67-a7af-a758f076e71b&lang=ru_RU")
