// Typography
$main-font-family: "Golos", sans-serif;
$second-font-family: "Inter", sans-serif;

// colors
$color-dark-blue: #30323f;
$color-white: #fff;
$color-grey: #ededed;
$color-green: #2d8435;
$color-green-light: #4aa652;
$color-orange: #b95026;
$color-orange-light: #e0612e;
$color-text:  #5b5d6a;
